 // меню строится на разметке как в MaxSite CMS

 // классы .group .divider предопределены
 
// минимальные стили для выпадающего меню
@mixin menu-base($zindex: 10) {
	position: relative; 
	list-style: none; 
	margin: 0; 
	padding: 0;
	z-index: $zindex; 
	
	li {
		position: relative;
	}
	
	a {
		display: block;
	
		&:hover {
			text-decoration: none;
		}
        
        &:focus {
			outline: none;
		}
	}
	
	// верхние пункты
	> li {
		float: left; 
		vertical-align: middle;
		display: block;
	}
	
	// подменю
	ul {
		display: none;
		position: absolute; 
		list-style: none; 
		margin: 0; 
		padding: 0;
		top: 100%; 
		left: 0; 
		z-index: $zindex + 1; 
		line-height: 1em;
		min-width: 150px;
		background: #EEEEEE; 
		
		// под-подменю
		ul {
			top: 0; 
			left: 100%;
		}
		
		li {
			display: block;
		}
	}
	
	// класс по-умолчанию — работает hover
	&.menu-no-load {
		li:hover > ul {
			display: block;
		}
	}
	
	// класс по которому работает hover по-умолчанию
	&.menu-hover {
		li:hover > ul {
			display: block;// !important;
		}
	}
}

// вспомогательный микс
@mixin _menu-cbb($color, $bg, $bold) {
	@if $color 	{ color: $color; }
	@if $bg 	{ background-color: $bg; }
	@if $bold 	{ font-weight: $bold; }
}

// верхние пункты
@mixin menu-top-color($color: false, $bg: false, $bold: false) {
	> li a {
		@include _menu-cbb($color, $bg, $bold);
	}
}

// верхние пункты при наведении
@mixin menu-top-hover($color: false, $bg: false, $bold: false) {
	> li a:hover {
		@include _menu-cbb($color, $bg, $bold);
	}
}

// высота
@mixin menu-top-height($height: auto, $l_height: auto, $padding: 0, $margin: 0) {
	> li > a { 
		height: $height;
		line-height: $l_height;
		padding: $padding;
		margin: $margin;
	}
}

// группа
@mixin menu-top-group-color($color: false, $bg: false, $bold: false) {
	> li.group > a {
		@include _menu-cbb($color, $bg, $bold);
	}
}

// група при наведении
@mixin menu-top-group-hover($color: false, $bg: false, $bold: false) {
	> li.group > a:hover {
		@include _menu-cbb($color, $bg, $bold);
	}
}

// подменю
@mixin menu-submenu-color($color: false, $bg: false, $bold: false) {
	li.group ul li a {
		@include _menu-cbb($color, $bg, $bold);
	}
}

@mixin menu-submenu-hover($color: false, $bg: false, $bold: false) {
	li.group ul li a:hover {
		@include _menu-cbb($color, $bg, $bold);
	}
}

@mixin menu-submenu-height($height: auto, $l_height: auto, $padding: 0, $margin: 0) {
	li.group ul li a { 
		height: $height;
		line-height: $l_height;
		padding: $padding;
		margin: $margin;
	}
}

@mixin menu-submenu-nowrap() {
	li.group ul li a { 
		white-space: nowrap;
	}
}		

// разделитель
@mixin menu-divider($border: #ccc 1px solid, $margin: 0, $bg: transparent) {
	li.divider {
		display: block !important;
		height: 1px !important;
		padding: 0 !important;
		background-color: $bg;
		
		> span {
			display: block;
			padding: 0;
			height: 1px;
			border: $border;
			margin: $margin;
		}
	}
}

// иконки стрелок групп на основе шрифта $fa-var-angle-down, $fa-var-angle-right
@mixin menu-set-arrows($ff: FASolid, $c1: "\f107", $c2: "\f105", $color: inherit) {
	> li.group > a:after,
	li.group ul li.group > a:after
	{
		font-family: $ff;
		color: $color;
		display: inline-block;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
	}
	
	// верх
	> li.group > a:after {
		content: $c1;
		margin: 0 0 0 10px;
		float: right;
	}
	
	// подменю
	li.group ul li.group > a:after {
		content: $c2;
		position: absolute;
		right: 5px;
	}
}


@mixin menu-selected-color($color: false, $bg: false, $bold: false) {
	@include _menu-cbb($color, $bg, $bold);
}

@mixin menu-selected-hover($color: false, $bg: false, $bold: false) {
	&:hover {
		@include _menu-cbb($color, $bg, $bold);
	}
}

// специфичный z-index для меню
@mixin menu-zindex($index: 10) {
	z-index: $index;
	
	ul {
		z-index: $index + 1; 
	}
}


// основные стили под планшет
@mixin menu-tablet-base($icon_group: "\f067", $icon_group_open: "\f00d") {
	display: none;
	position: absolute;
	
	// верхние пункты
	> li {
		float: none; 
	}
	
	// подменю
	ul {
		display: none;
		position: relative; 
		min-width: 100%;
		
		li {
			display: block;
		}
	}
	
	li.group ul {
		box-shadow: none;
	}
	
	// отступ всех подменю
	> li > a {
		padding-left: 25px;
	}
	
	// группа — название
	> li.group > a {
		padding-left: 5px;
		
		// иконка группы
		&::before {
			font-family: FASolid;
			display: inline-block;
			content: $icon_group;
			padding-right: 5px;
		}
	}
	
	// иконка открытой группы
	li.group-open > a::before {
		font-family: FASolid;
		display: inline-block;
		content: $icon_group_open;
		padding-right: 5px;
	}
	
	// уберем иконку группы справа
	li.group > a:after {
		display: none;
	}
}

// база кнопки Меню
@mixin menu-tablet-control($icon: "\f00d") {
	// прячем input
	input.menu-control {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	// по click/checked 
	input.menu-control:checked {
		// показываем меню
		~ ul.menu-tablet {
			display: block;
		}
		
		// меняем иконку
		~ label.menu-control i::before {
			content: $icon;
		}
	}
}

