// меню 

@import './berry/variables/variables';
@import './berry/variables/all-colors';
// @import './fontawesome4/variables';
// @import './fontawesome/mixin';
@import 'menu-mixin';


$menu_bg: transparent; // основной цвет меню
$menu_color2: transparent; // фон при наведении

$menu_height: 55px; // высота меню
$menu_height_submenu: 40px; // высота подменю горизонтального

$menu_divider: #bbbbbb; // цвет разделителя

$menu_menu1_padding_hor: 0; // padding-rl для tablet 
 
// top
$menu_top_text: $gray600; // текст
$menu_top_bg: transparent; // фон
$menu_top_hover_text: $gray700; // текст при наведении
$menu_top_hover_bg: transparent; // фон при наведении

// top selected
$menu_selected_text: $gray700; // текст
$menu_selected_bg: tranparent; // фон
$menu_selected_hover_text: $menu_selected_text; // текст при наведении
$menu_selected_hover_bg: $menu_selected_bg; // фон при наведении

// group верхний пункт при наведении
$menu_top_group_hover_text: $gray700; // текст при наведении
$menu_top_group_hover_bg: tranparent; // фон при наведении

// group_open открытое подменю
$menu_top_group_open_hover_text: $gray700; // текст при наведении
$menu_top_group_open_hover_bg: $menu_color2; // фон при наведении

// подменю
$menu_submenu_text: $gray700; // текст
$menu_submenu_bg: #fff; // фон
$menu_submenu_hover_text: #ffffff; // текст при наведении
$menu_submenu_hover_bg: $gray500; // фон при наведении
$menu_submenu_selected_text: $gray600; // текст selected в подменю

// tablet
$menu_tablet_base_bg: white; // общий фон меню

$menu_tablet_control_text: $gray700; // текст кнопки
$menu_tablet_control_bg: tranparent; // фон кнопки

$menu_tablet_hover_text: $gray700; // текст при наведении
$menu_tablet_hover_bg: #eeeeee; // фон при наведении

// выбранный пункт
$menu_tablet_selected_text: $gray600; // текст
$menu_tablet_selected_bg: tranparent; // фон
$menu_tablet_selected_hover_text: $menu_tablet_selected_text; // текст при наведении
$menu_tablet_selected_hover_bg: $menu_tablet_selected_bg; // фон при наведении

// подменю
$menu_tablet_submenu_text: $gray700; // текст
$menu_tablet_submenu_bg: $gray100; // фон
$menu_tablet_submenu_hover_text: $gray700; // текст
$menu_tablet_submenu_hover_bg: $gray200; // фон


$menu_tablet_divider: #E7E7E7; // разделитель

.menu-control {
	display: none;
}

div.menu1 {
	background: $menu_bg;
	position: relative;
}

ul.menu {

	@include menu-base(15);
	
	@include menu-top-height($menu_height, $menu_height, 0 45px 0 5px, 0 0 0 0);
	@include menu-top-color($menu_top_text, $menu_top_bg); 
	@include menu-top-hover($menu_top_hover_text, $menu_top_hover_bg);
	@include menu-submenu-height($menu_height_submenu, $menu_height_submenu, 0 40px 0 10px);
	@include menu-submenu-color($menu_submenu_text, $menu_submenu_bg);
	@include menu-submenu-hover($menu_submenu_hover_text, $menu_submenu_hover_bg);
	@include menu-submenu-nowrap;
	@include menu-divider($menu_divider 1px solid);
	@include menu-set-arrows();
	
	margin-left: 15px;
	// верхние пункты
	> li > a {
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: .05em;
		// font-size: 1.1rem;
	}

	li.selected a 
	{
		@include menu-selected-color($menu_selected_text, $menu_selected_bg);
		@include menu-selected-hover($menu_selected_hover_text, $menu_selected_hover_bg);
	}
	
	ul {
		min-width: 200px;
	}

	a {
		transition: color 0.2s, background-color 0.1s;
	}
	
	// верхние пункты (без группы) при наведении
	> li:not([class^="group"]):hover > a {
	}
	
	li.group ul {
		font-size: .95rem;
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
	}
	
	li.group ul li.selected a {
		font-weight: bold;
		color: $menu_submenu_selected_text;
	}
	
	li.group-open > a {
		color: $menu_top_group_open_hover_text;
		background-color: $menu_top_group_open_hover_bg;
	}
	
	> li.group:hover > a {
		color: $menu_top_group_hover_text;
		background-color: $menu_top_group_hover_bg;
	}
}

@media #{$SCREEN_TABLET} {
	
	div.menu1-tablet {
		background: transparent;
	}
	
	@include menu-tablet-control();
	
	label.menu-control {
		display: inline-block;
		padding: 0;
		height: $menu_height;
		line-height: $menu_height;
		
		width: 100%;
		
		font-weight: bold;
		background: $menu_tablet_control_bg;
		color: $menu_tablet_control_text;

		padding-left: 15px;
	}
	
	ul.menu-tablet {
		@include menu-tablet-base();
		
		$p1: $menu_menu1_padding_hor * 2;
		
		margin-left: 0;
		
		top: $menu_height;
		//width: ~"calc(100% - ${p1})"; 
		width: 100%; 
		background-color: $menu_tablet_base_bg;
		
		// box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.5), -1px 0px 2px -2px rgba(0, 0, 0, 0.5), 1px 0px 2px -2px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.5);
	
		@include menu-top-hover($menu_tablet_hover_text, $menu_tablet_hover_bg);
		
		@include menu-submenu-height($menu_height, $menu_height, 0 20px 0 40px);
		@include menu-submenu-color($menu_tablet_submenu_text, $menu_tablet_submenu_bg);
	
		@include menu-divider($menu_tablet_divider 1px dotted, 0 35px, $menu_tablet_submenu_bg);
		
		li.group-open > a {
			color: $menu_tablet_submenu_text;
			background-color: $menu_tablet_submenu_bg;
		}

		// верхние пункты при наведении
		> li:not([class^="group"]):hover > a {
			border: none;
		}
	
		> li a,
		li.group a
		{
			padding-left: 30px;
		}

		li.group ul {
			border: none;
		}
		
		> li.group:hover > a {
			color: $menu_tablet_submenu_hover_text;
			background-color: $menu_tablet_submenu_hover_bg;
		}
		
		li.selected a 
		{
			@include menu-selected-color($menu_tablet_selected_text, $menu_tablet_selected_bg);
			@include menu-selected-hover($menu_tablet_selected_hover_text, $menu_tablet_selected_hover_bg);
		}
		
	}
}
