// социконки в шапке

a.my-social {
	transition: all 0.2s;
	display: inline-block;
	margin: 0;
	padding: 0 5px;
	// height: 35px;
	// line-height: 35px;
	
	&:before {
		margin: 0;
	}
	
	&:last-child {
		margin-right: 0;
	}
	
	&:hover {
		text-decoration: none;
		// background: rgba(0,0,0, .6);
	}
}
