// прочие стили шаблона

// для альпины
[x-cloak] {display: none;}

// для AOS.js
[data-aos] {visibility: hidden;} 
[data-aos].animated {visibility: visible;}


// *** МОДУЛЬНАЯ СЕТКА ***

.my-main-container { }
.my-container-content-sidebar { }
.my-left-sidebar { }
.my-sidebar-fix-width { }


// *** .mso-page-only ***
.mso-page-only { 
	@extend .mso-clearfix;
}

// рубрики обычные
.mso-tf-info-top-full .mso-page-only {
	// margin: 0 0 30px 0;
}

// читать далее
span.mso-cut {}

.mso-clearfix {
	&:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

// для адаптивного обрамления ютубовского видео 
.vr { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow:hidden; 
}

.vr iframe, 
.vr object, 
.vr embed {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%; 
}
