a {
  color: #0E97BF;
}
a:hover {
  color: #095f78;
}
a.curent-page-cat {
  font-weight: bold;
}
div.page_content a:visited {
  color: #990099;
}
h1 {
  color: #444;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
}
h1 a {
  color: #095f78;
}
h1 a:hover {
  color: #095f78;
}
h1.category {
  margin: 0 0 15px 0;
  border-bottom: 2px solid #DDD;
}
body {
  background: #ddd url("../images/backgrounds/pattern_113.png");
}
div.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  background-color: #fff;
}
div.content {
  width: 70%;
  float: left;
}
div.content div.content-wrap {
  margin: 20px 30px 30px 30px;
}
@media (max-width: 767px) {
  div.content {
    width: 100% !important;
    float: none !important;
    margin: 0;
  }
  div.content div.content-wrap {
    margin: 10px 5px !important;
    padding: 0 !important;
    border: none;
  }
}
div.sidebar1 {
  width: 27%;
  float: right;
}
div.sidebar1 div.sidebar1-wrap {
  padding: 20px 0;
}
@media (max-width: 767px) {
  div.sidebar1 {
    width: 100% !important;
    float: none !important;
  }
  div.sidebar1 div.sidebar1-wrap {
    margin: 0;
    padding: 20px;
    background: #f0f0f0;
    border: none;
  }
}
body.no-sidebar div.main {
  max-width: 1140px;
}
body.no-sidebar div.content {
  width: 100%;
  float: none;
  margin: 0;
}
body.no-sidebar div.content div.content-wrap {
  margin: 0;
  padding: 20px 30px;
}
body.left-sidebar div.content {
  float: right;
}
body.left-sidebar div.content div.content-wrap {
  margin: 20px 30px 30px 0px;
}
body.left-sidebar div.sidebar1 {
  float: left;
}
body.left-sidebar div.sidebar1 div.sidebar1-wrap {
  padding: 20px 0 0 30px;
}
div.MainMenu {
  height: 40px;
}
div.MainMenu ul.menu li {
  height: 40px;
  line-height: 40px;
}
div.MainMenu ul.menu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 15px;
  -webkit-transition: background 0.3s 0s ease-out;
  -moz-transition: background 0.3s 0s ease-out;
  -ms-transition: background 0.3s 0s ease-out;
  -o-transition: background 0.3s 0s ease-out;
  transition: background 0.3s 0s ease-out;
  color: #ccc;
  height: 40px;
  line-height: 40px;
  margin-right: 1px;
}
div.MainMenu ul.menu > li.selected > a,
div.MainMenu ul.menu > li > a:hover {
  background-color: rgba(10,10,10,0.2);
  color: #fff;
}
div.MainMenu ul.menu li.group ul li > a {
  -webkit-transition: background-color 0.3s 0s ease-out;
  -moz-transition: background-color 0.3s 0s ease-out;
  -ms-transition: background-color 0.3s 0s ease-out;
  -o-transition: background-color 0.3s 0s ease-out;
  transition: background-color 0.3s 0s ease-out;
  font-size: 12px;
}
div.MainMenu ul.menu li.group ul li.group > a span {
  background: url("../images/bullets/menu-down-right.png") no-repeat right center;
}
div.MainMenu ul.menu li.group ul {
  -o-box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
  background-color: #ddd;
}
.message {
  margin: 0 0 10px 0;
  padding: 15px 10px 15px 70px;
  min-height: 32px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #E9E9E9;
  color: #505050;
  font-weight: bold;
}
.message.ok {
  background: #58B158 url("../images/icons/ok.png") no-repeat 15px center;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  filter: dropshadow(color=rgba(0,0,0,0.25), offx=, offy=);
}
.message.ok.small {
  background-image: url("../images/icons/small/ok.png");
}
.message.note {
  background: #44AAC8 url("../images/icons/note.png") no-repeat 15px center;
  color: #111;
}
.message.note.small {
  background-image: url("../images/icons/small/note.png");
}
.message.alert {
  background: #F89406 url("../images/icons/alert.png") no-repeat 15px center;
  color: #fff;
}
.message.alert.small {
  background-image: url("../images/icons/small/alert.png");
}
.message.idea {
  background: #FAF6AC url("../images/icons/idea.png") no-repeat 15px center;
  color: #111;
}
.message.idea.small {
  background-image: url("../images/icons/small/idea.png");
}
.message.error {
  background: #D64B45 url("../images/icons/error.png") no-repeat 15px center;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  filter: dropshadow(color=rgba(0,0,0,0.25), offx=, offy=);
}
.message.error.small {
  background-image: url("../images/icons/small/error.png");
}
.message.about {
  background: #EAEAEA url("../images/icons/about.png") no-repeat 15px center;
  color: #111;
}
.message.about.small {
  background-image: url("../images/icons/small/about.png");
}
.message.mail {
  background: #EAEAEA url("../images/icons/mail.png") no-repeat 15px center;
  color: #111;
}
.message.mail.small {
  background-image: url("../images/icons/small/mail.png");
}
.message.home {
  background: #EAEAEA url("../images/icons/home.png") no-repeat 15px center;
  color: #111;
}
.message.home.small {
  background-image: url("../images/icons/small/home.png");
}
.message.question {
  background: #EAEAEA url("../images/icons/question.png") no-repeat 15px center;
  color: #111;
}
.message.question.small {
  background-image: url("../images/icons/small/question.png");
}
.message.noicon {
  background-image: none;
  padding: 10px;
  min-height: 0;
}
.message.small {
  min-height: 20px;
  padding: 7px 10px 7px 50px;
  background-position: 10px center;
  background-repeat: no-repeat;
}
span.label {
  background-color: #999;
  color: #fff;
  display: inline-block;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  filter: dropshadow(color=rgba(0,0,0,0.25), offx=, offy=);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 5px;
}
span.label.default {
  background-color: #999;
  color: #fff;
}
span.label.success {
  background-color: #468847;
  color: #fff;
}
span.label.warning {
  background-color: #F89406;
  color: #fff;
}
span.label.important {
  background-color: #B94A48;
  color: #fff;
}
span.label.info {
  background-color: #3A87AD;
  color: #fff;
}
span.label.inverse {
  background-color: #333;
  color: #fff;
}
.dropdown-menu {
  position: absolute;
  z-index: 9999999;
  display: none;
}
.dropdown-menu ul {
  min-width: 100px;
  list-style: none;
  background: #FFF;
  border: solid 1px #DDD;
  border: solid 1px rgba(0,0,0,0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  overflow: visible;
  padding: 4px 0;
  margin: 0;
}
.dropdown-menu.has-tip {
  margin-top: 8px;
}
.dropdown-menu.has-tip:before {
  position: absolute;
  top: -6px;
  left: 9px;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0,0,0,0.2);
  display: inline-block;
}
.dropdown-menu.has-tip.anchor-right:before {
  left: auto;
  right: 9px;
}
.dropdown-menu.has-tip:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  display: inline-block;
}
.dropdown-menu.has-tip.anchor-right:after {
  left: auto;
  right: 10px;
}
.dropdown-menu.has-scroll ul {
  max-height: 358px;
  overflow: auto;
}
.dropdown-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 18px;
}
.dropdown-menu li > a,
.dropdown-menu label {
  display: block;
  color: #555;
  text-decoration: none;
  line-height: 18px;
  padding: 3px 15px;
  white-space: nowrap;
}
.dropdown-menu li > a:hover,
.dropdown-menu label:hover {
  background-color: #08C;
  color: #FFF;
  cursor: pointer;
}
.dropdown-menu .divider {
  height: 1px;
  background: #E5E5E5;
  margin: 5px 1px;
  overflow: hidden;
}
div.columns {
  margin-right: -30px;
}
div.columns div.column-content {
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 20px;
}
div.box {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
div.box div.row {
  display: table-row;
}
div.box div.row div.cell {
  display: table-cell;
  vertical-align: top;
}
div.onerow .col {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.onerow .col img.thumb {
  width: 100%;
}
div.onerow .col:first-of-type {
  margin-left: 0;
}
div.onerow .w1-1 {
  width: 100%;
}
div.onerow .w1-2 {
  width: 48.5%;
}
div.onerow .w1-3 {
  width: 31.333333333333%;
}
div.onerow .w2-3 {
  width: 65.666666666667%;
}
div.onerow .w1-4 {
  width: 22.75%;
}
div.onerow .w2-4 {
  width: 48.5%;
}
div.onerow .w3-4 {
  width: 74.25%;
}
div.onerow .w1-5 {
  width: 17.6%;
}
div.onerow .w2-5 {
  width: 38.2%;
}
div.onerow .w3-5 {
  width: 58.8%;
}
div.onerow .w4-5 {
  width: 79.4%;
}
div.onerow .w1-6 {
  width: 14.166666666667%;
}
div.onerow .w2-6 {
  width: 31.333333333333%;
}
div.onerow .w3-6 {
  width: 48.5%;
}
div.onerow .w4-6 {
  width: 65.666666666667%;
}
div.onerow .w5-6 {
  width: 82.833333333333%;
}
div.onerow .w1-7 {
  width: 11.714285714286%;
}
div.onerow .w2-7 {
  width: 26.428571428571%;
}
div.onerow .w3-7 {
  width: 41.142857142857%;
}
div.onerow .w4-7 {
  width: 55.857142857143%;
}
div.onerow .w5-7 {
  width: 70.571428571429%;
}
div.onerow .w6-7 {
  width: 85.285714285714%;
}
div.onerow .w1-8 {
  width: 9.875%;
}
div.onerow .w2-8 {
  width: 22.75%;
}
div.onerow .w3-8 {
  width: 35.625%;
}
div.onerow .w4-8 {
  width: 48.5%;
}
div.onerow .w5-8 {
  width: 61.375%;
}
div.onerow .w6-8 {
  width: 74.25%;
}
div.onerow .w7-8 {
  width: 87.125%;
}
div.cell.c1 {
  width: 115px;
  padding-top: 5px;
}
div.cell.c3 {
  width: 215px;
  padding-top: 10px;
  text-align: right;
}
div.page_other_pages_header,
div.page_comments_count,
div.leave_a_comment {
  background-color: #ddd;
  padding: 5px 10px;
  margin: 10px 0;
}
div.sitemap ul {
  list-style-type: none;
}
div.sitemap ul ul {
  list-style-type: circle;
}
div.widget div.widget_header,
div.widget h2.box {
  font-size: 18px;
}
div.date-menu2 {
  background-color: #111;
}
div.date-menu2 > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
body.no-sidebar div.date-menu2 > div.wrap {
  max-width: 1140px;
}
div.date-menu2 div.r1 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 26.428571428571%;
  color: #ddd;
  font-size: 13px;
  padding-top: 7px;
}
div.date-menu2 div.r1:first-of-type {
  margin-left: 0;
}
div.date-menu2 div.r2 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70.571428571429%;
}
div.date-menu2 div.r2:first-of-type {
  margin-left: 0;
}
div.date-menu2 div.r2 div.MainMenu2 ul.menu {
  float: right;
}
@media (max-width: 767px) {
  div.date-menu2 div.r1 {
    width: auto;
  }
  div.date-menu2 div.r2 {
    width: auto;
    float: right;
  }
}
body.design-sky div.date-menu2 {
  background-color: #233248;
}
div.footer-3-sidebars > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 30px 30px 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ccc;
}
body.no-sidebar div.footer-3-sidebars > div.wrap {
  max-width: 1140px;
}
div.footer-3-sidebars div.footer-sidebar1 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.333333333333%;
}
div.footer-3-sidebars div.footer-sidebar1:first-of-type {
  margin-left: 0;
}
div.footer-3-sidebars div.footer-sidebar2 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.333333333333%;
}
div.footer-3-sidebars div.footer-sidebar2:first-of-type {
  margin-left: 0;
}
div.footer-3-sidebars div.footer-sidebar3 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.333333333333%;
}
div.footer-3-sidebars div.footer-sidebar3:first-of-type {
  margin-left: 0;
}
@media (max-width: 767px) {
  div.footer-3-sidebars div.footer-sidebar1,
  div.footer-3-sidebars div.footer-sidebar2,
  div.footer-3-sidebars div.footer-sidebar3 {
    float: none;
    margin: 0;
    width: 100%;
    padding: 0;
  }
  div.footer-3-sidebars div.footer-sidebar1 > div.wrap,
  div.footer-3-sidebars div.footer-sidebar2 > div.wrap,
  div.footer-3-sidebars div.footer-sidebar3 > div.wrap {
    margin: 10px;
  }
}
div.footer-4-sidebars > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 30px 30px 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ccc;
}
body.no-sidebar div.footer-4-sidebars > div.wrap {
  max-width: 1140px;
}
div.footer-4-sidebars div.footer-sidebar1 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 22.75%;
}
div.footer-4-sidebars div.footer-sidebar1:first-of-type {
  margin-left: 0;
}
div.footer-4-sidebars div.footer-sidebar2 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 22.75%;
}
div.footer-4-sidebars div.footer-sidebar2:first-of-type {
  margin-left: 0;
}
div.footer-4-sidebars div.footer-sidebar3 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 22.75%;
}
div.footer-4-sidebars div.footer-sidebar3:first-of-type {
  margin-left: 0;
}
div.footer-4-sidebars div.footer-sidebar4 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 22.75%;
}
div.footer-4-sidebars div.footer-sidebar4:first-of-type {
  margin-left: 0;
}
@media (max-width: 767px) {
  div.footer-4-sidebars div.footer-sidebar1,
  div.footer-4-sidebars div.footer-sidebar2,
  div.footer-4-sidebars div.footer-sidebar3,
  div.footer-4-sidebars div.footer-sidebar4 {
    float: none;
    margin: 0;
    width: 100%;
    padding: 0;
  }
  div.footer-4-sidebars div.footer-sidebar1 > div.wrap,
  div.footer-4-sidebars div.footer-sidebar2 > div.wrap,
  div.footer-4-sidebars div.footer-sidebar3 > div.wrap,
  div.footer-4-sidebars div.footer-sidebar4 > div.wrap {
    margin: 10px;
  }
}
div.footer-5-sidebars > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 30px 30px 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ccc;
}
body.no-sidebar div.footer-5-sidebars > div.wrap {
  max-width: 1140px;
}
div.footer-5-sidebars div.footer-sidebar1 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 17.6%;
}
div.footer-5-sidebars div.footer-sidebar1:first-of-type {
  margin-left: 0;
}
div.footer-5-sidebars div.footer-sidebar2 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 17.6%;
}
div.footer-5-sidebars div.footer-sidebar2:first-of-type {
  margin-left: 0;
}
div.footer-5-sidebars div.footer-sidebar3 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 17.6%;
}
div.footer-5-sidebars div.footer-sidebar3:first-of-type {
  margin-left: 0;
}
div.footer-5-sidebars div.footer-sidebar4 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 17.6%;
}
div.footer-5-sidebars div.footer-sidebar4:first-of-type {
  margin-left: 0;
}
div.footer-5-sidebars div.footer-sidebar5 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 17.6%;
}
div.footer-5-sidebars div.footer-sidebar5:first-of-type {
  margin-left: 0;
}
@media (max-width: 767px) {
  div.footer-5-sidebars div.footer-sidebar1,
  div.footer-5-sidebars div.footer-sidebar2,
  div.footer-5-sidebars div.footer-sidebar3,
  div.footer-5-sidebars div.footer-sidebar4,
  div.footer-5-sidebars div.footer-sidebar5 {
    float: none;
    margin: 0;
    width: 100%;
    padding: 0;
  }
  div.footer-5-sidebars div.footer-sidebar1 > div.wrap,
  div.footer-5-sidebars div.footer-sidebar2 > div.wrap,
  div.footer-5-sidebars div.footer-sidebar3 > div.wrap,
  div.footer-5-sidebars div.footer-sidebar4 > div.wrap,
  div.footer-5-sidebars div.footer-sidebar5 > div.wrap {
    margin: 10px;
  }
}
div.footer-copy-stat {
  background-color: #444;
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  color: #ccc;
  font-size: 12px;
  text-align: center;
}
div.footer-copy-stat > div.wrap {
  padding: 10px 0;
}
div.footer-copy-stat a {
  color: #ccc;
}
body.design-sky div.footer-copy-stat {
  background-color: #41587B;
}
div.image-nivo-slider {
  margin: 0 auto;
}
.nivoSlider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.nivoSlider img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
}
.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important;
}
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
  background: white;
  filter: alpha(opacity=0);
  opacity: 0;
}
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  top: 0;
}
.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
  overflow: hidden;
}
.nivo-box img {
  display: block;
}
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer;
  padding: 10px 5px;
  background: #444;
  color: white;
  text-decoration: none;
  opacity: 0.1;
}
.nivo-directionNav a:hover {
  opacity: 0.7;
  color: white;
}
.nivo-prevNav {
  left: 0px;
  border-radius: 0 5px 5px 0;
}
.nivo-nextNav {
  right: 0px;
  border-radius: 5px 0 0 5px;
}
.nivo-controlNav {
  text-align: center;
  padding: 15px 0;
}
.nivo-controlNav a {
  cursor: pointer;
}
.nivo-controlNav a.active {
  font-weight: bold;
}
div.image-nivo-slider {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
body.no-sidebar div.image-nivo-slider {
  max-width: 1140px;
}
div.image-rand > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
body.no-sidebar div.image-rand > div.wrap {
  max-width: 1140px;
}
div.image-rand img {
  width: 100%;
  height: auto;
}
div.image-select > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
body.no-sidebar div.image-select > div.wrap {
  max-width: 1140px;
}
div.image-select img {
  width: 100%;
  height: auto;
}
div.logo-block > div.wrap {
  background-color: #f4f4f4;
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
body.no-sidebar div.logo-block > div.wrap {
  max-width: 1140px;
}
div.logo-block div.r1 {
  width: auto;
  float: left;
  padding: 10px;
}
div.logo-block div.r2 {
  width: auto;
  float: right;
  padding: 10px;
}
div.logo-ns-descr-banner > div.wrap {
  background-color: #f4f4f4;
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 45px 0 30px 0;
  border-bottom: #eee 1px solid;
}
body.no-sidebar div.logo-ns-descr-banner > div.wrap {
  max-width: 1140px;
}
div.logo-ns-descr-banner div.r1 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 7.3%;
}
div.logo-ns-descr-banner div.r1:first-of-type {
  margin-left: 0;
}
div.logo-ns-descr-banner div.r1 img {
  margin: 0px 0 0 20px;
}
div.logo-ns-descr-banner div.r2 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.8%;
}
div.logo-ns-descr-banner div.r2:first-of-type {
  margin-left: 0;
}
div.logo-ns-descr-banner div.r2 div.name_site {
  margin: 0;
  line-height: 1em;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 40px;
  color: #444;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
div.logo-ns-descr-banner div.r2 div.name_site a {
  text-decoration: none;
  color: #444;
}
div.logo-ns-descr-banner div.r2 div.description_site {
  font-style: italic;
  margin: 0 0 10px 0;
  color: #888;
}
div.logo-ns-descr-banner div.r3 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 27.9%;
}
div.logo-ns-descr-banner div.r3:first-of-type {
  margin-left: 0;
}
@media (max-width: 767px) {
  div.logo-ns-descr-banner > div.wrap {
    margin: 0;
    padding: 10px 0 0 0;
  }
  div.logo-ns-descr-banner div.r1 {
    width: auto;
    float: left;
  }
  div.logo-ns-descr-banner div.r1 img {
    margin: 0;
  }
  div.logo-ns-descr-banner div.r2 {
    float: left;
    width: auto;
  }
  div.logo-ns-descr-banner div.r3 {
    float: none;
    width: 100%;
  }
}
div.logo-ns-descr-icons > div.wrap {
  background-color: #f4f4f4;
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 45px 0 30px 0;
  border-bottom: #eee 1px solid;
}
body.no-sidebar div.logo-ns-descr-icons > div.wrap {
  max-width: 1140px;
}
div.logo-ns-descr-icons div.r1 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 7.3%;
}
div.logo-ns-descr-icons div.r1:first-of-type {
  margin-left: 0;
}
div.logo-ns-descr-icons div.r1 img {
  margin: 0px 0 0 20px;
}
div.logo-ns-descr-icons div.r2 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.8%;
}
div.logo-ns-descr-icons div.r2:first-of-type {
  margin-left: 0;
}
div.logo-ns-descr-icons div.r2 div.name_site {
  margin: 0;
  line-height: 1em;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 40px;
  color: #444;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
div.logo-ns-descr-icons div.r2 div.name_site a {
  text-decoration: none;
  color: #444;
}
div.logo-ns-descr-icons div.r2 div.description_site {
  font-style: italic;
  margin: 0 0 10px 0;
  color: #888;
}
div.logo-ns-descr-icons div.r3 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 27.9%;
}
div.logo-ns-descr-icons div.r3:first-of-type {
  margin-left: 0;
}
div.logo-ns-descr-icons div.r3 div.social {
  margin: 0;
  text-align: right;
}
div.logo-ns-descr-icons div.r3 div.social a {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 5px;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  background-repeat: no-repeat;
}
div.logo-ns-descr-icons div.r3 div.social a:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
div.logo-ns-descr-icons div.r3 div.social a.rss {
  background-image: url("../images/social/rss.png");
}
div.logo-ns-descr-icons div.r3 div.social a.twitter {
  background-image: url("../images/social/twitter.png");
}
div.logo-ns-descr-icons div.r3 div.social a.facebook {
  background-image: url("../images/social/facebook.png");
}
div.logo-ns-descr-icons div.r3 div.social a.gplus {
  background-image: url("../images/social/gplus.png");
}
div.logo-ns-descr-icons div.r3 div.social a.github {
  background-image: url("../images/social/github.png");
}
div.logo-ns-descr-icons div.r3 div.social a.skype {
  background-image: url("../images/social/skype.png");
}
div.logo-ns-descr-icons div.r3 div.social a.vkontakte {
  background-image: url("../images/social/vkontakte.png");
}
div.logo-ns-descr-icons div.r3 div.social a.behance {
  background-image: url("../images/social/behance.png");
}
div.logo-ns-descr-icons div.r3 div.social a.blogger {
  background-image: url("../images/social/blogger.png");
}
div.logo-ns-descr-icons div.r3 div.social a.dropbox {
  background-image: url("../images/social/dropbox.png");
}
div.logo-ns-descr-icons div.r3 div.social a.evernote {
  background-image: url("../images/social/evernote.png");
}
div.logo-ns-descr-icons div.r3 div.social a.last_fm {
  background-image: url("../images/social/last_fm.png");
}
div.logo-ns-descr-icons div.r3 div.social a.linked_in {
  background-image: url("../images/social/linked_in.png");
}
div.logo-ns-descr-icons div.r3 div.social a.mail {
  background-image: url("../images/social/mail.png");
}
div.logo-ns-descr-icons div.r3 div.social a.odnoklassniki {
  background-image: url("../images/social/odnoklassniki.png");
}
div.logo-ns-descr-icons div.r3 div.social a.vimeo {
  background-image: url("../images/social/vimeo.png");
}
div.logo-ns-descr-icons div.r3 div.social a.yahoo {
  background-image: url("../images/social/yahoo.png");
}
div.logo-ns-descr-icons div.r3 div.social a.youtube {
  background-image: url("../images/social/youtube.png");
}
div.logo-ns-descr-icons div.r3 div.social {
  padding: 15px 10px 0 0;
}
@media (max-width: 767px) {
  div.logo-ns-descr-icons > div.wrap {
    margin: 0;
    padding: 10px 0 0 0;
  }
  div.logo-ns-descr-icons div.r1 {
    width: auto;
    float: left;
  }
  div.logo-ns-descr-icons div.r1 img {
    margin: 0;
  }
  div.logo-ns-descr-icons div.r2 {
    float: left;
    width: auto;
  }
  div.logo-ns-descr-icons div.r3 {
    display: none;
  }
}
div.logo-ns-descr-random-text > div.wrap {
  background-color: #f4f4f4;
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 45px 0 30px 0;
  border-bottom: #eee 1px solid;
}
body.no-sidebar div.logo-ns-descr-random-text > div.wrap {
  max-width: 1140px;
}
div.logo-ns-descr-random-text div.r1 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 7.3%;
}
div.logo-ns-descr-random-text div.r1:first-of-type {
  margin-left: 0;
}
div.logo-ns-descr-random-text div.r1 img {
  margin: 0px 0 0 20px;
}
div.logo-ns-descr-random-text div.r2 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.8%;
}
div.logo-ns-descr-random-text div.r2:first-of-type {
  margin-left: 0;
}
div.logo-ns-descr-random-text div.r2 div.name_site {
  margin: 0;
  line-height: 1em;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 40px;
  color: #444;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
div.logo-ns-descr-random-text div.r2 div.name_site a {
  text-decoration: none;
  color: #444;
}
div.logo-ns-descr-random-text div.r2 div.description_site {
  font-style: italic;
  margin: 0 0 10px 0;
  color: #888;
}
div.logo-ns-descr-random-text div.r3 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 27.9%;
}
div.logo-ns-descr-random-text div.r3:first-of-type {
  margin-left: 0;
}
div.logo-ns-descr-random-text div.r3 div.random-text {
  color: #555;
  font-size: 13px;
  text-align: right;
  margin-right: 20px;
}
div.logo-ns-descr-random-text div.r3 div.random-text div.author {
  font-style: italic;
}
@media (max-width: 767px) {
  div.logo-ns-descr-random-text > div.wrap {
    margin: 0;
    padding: 10px 0 0 0;
  }
  div.logo-ns-descr-random-text div.r1 {
    width: auto;
    float: left;
  }
  div.logo-ns-descr-random-text div.r1 img {
    margin: 0;
  }
  div.logo-ns-descr-random-text div.r2 {
    float: left;
    width: auto;
  }
  div.logo-ns-descr-random-text div.r3 {
    display: none;
  }
}
div.menu-icons {
  background-color: #444;
}
div.menu-icons > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
body.no-sidebar div.menu-icons > div.wrap {
  max-width: 1140px;
}
div.menu-icons div.r1 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70.571428571429%;
}
div.menu-icons div.r1:first-of-type {
  margin-left: 0;
}
div.menu-icons div.r2 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 26.428571428571%;
}
div.menu-icons div.r2:first-of-type {
  margin-left: 0;
}
div.menu-icons div.r2 div.social {
  margin: 0;
  text-align: right;
}
div.menu-icons div.r2 div.social a {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 5px;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  background-repeat: no-repeat;
}
div.menu-icons div.r2 div.social a:hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
div.menu-icons div.r2 div.social a.rss {
  background-image: url("../images/social/rss.png");
}
div.menu-icons div.r2 div.social a.twitter {
  background-image: url("../images/social/twitter.png");
}
div.menu-icons div.r2 div.social a.facebook {
  background-image: url("../images/social/facebook.png");
}
div.menu-icons div.r2 div.social a.gplus {
  background-image: url("../images/social/gplus.png");
}
div.menu-icons div.r2 div.social a.github {
  background-image: url("../images/social/github.png");
}
div.menu-icons div.r2 div.social a.skype {
  background-image: url("../images/social/skype.png");
}
div.menu-icons div.r2 div.social a.vkontakte {
  background-image: url("../images/social/vkontakte.png");
}
div.menu-icons div.r2 div.social a.behance {
  background-image: url("../images/social/behance.png");
}
div.menu-icons div.r2 div.social a.blogger {
  background-image: url("../images/social/blogger.png");
}
div.menu-icons div.r2 div.social a.dropbox {
  background-image: url("../images/social/dropbox.png");
}
div.menu-icons div.r2 div.social a.evernote {
  background-image: url("../images/social/evernote.png");
}
div.menu-icons div.r2 div.social a.last_fm {
  background-image: url("../images/social/last_fm.png");
}
div.menu-icons div.r2 div.social a.linked_in {
  background-image: url("../images/social/linked_in.png");
}
div.menu-icons div.r2 div.social a.mail {
  background-image: url("../images/social/mail.png");
}
div.menu-icons div.r2 div.social a.odnoklassniki {
  background-image: url("../images/social/odnoklassniki.png");
}
div.menu-icons div.r2 div.social a.vimeo {
  background-image: url("../images/social/vimeo.png");
}
div.menu-icons div.r2 div.social a.yahoo {
  background-image: url("../images/social/yahoo.png");
}
div.menu-icons div.r2 div.social a.youtube {
  background-image: url("../images/social/youtube.png");
}
div.menu-icons div.r2 div.social {
  padding: 12px 10px 0 0;
}
@media (max-width: 767px) {
  div.menu-icons div.r1,
  div.menu-icons div.r2 {
    width: 100%;
    margin: 0;
  }
  div.menu-icons div.r2 div.social {
    padding: 4px 0 0 10px;
    text-align: left;
  }
}
body.design-sky div.menu-icons {
  background-color: #41587B;
}
div.menu-login {
  background-color: #444;
}
div.menu-login > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
body.no-sidebar div.menu-login > div.wrap {
  max-width: 1140px;
}
div.menu-login div.r1 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70.571428571429%;
}
div.menu-login div.r1:first-of-type {
  margin-left: 0;
}
div.menu-login div.r2 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 26.428571428571%;
  padding: 7px 0 0 0;
}
div.menu-login div.r2:first-of-type {
  margin-left: 0;
}
div.menu-login div.r2 a.dropdown {
  display: inline-block;
  float: right;
  margin-right: 5px;
  color: #fff;
  text-decoration: none;
  border-bottom: #ddd 1px dashed;
}
div.menu-login div.r2 form {
  padding: 10px 15px 0 15px;
  width: 200px;
}
div.menu-login div.r2 form input {
  width: 195px;
}
div.menu-login div.r2 form span.registration {
  display: inline-block;
  float: right;
}
@media (max-width: 767px) {
  div.menu-login div.r1 {
    width: 100%;
    float: none;
  }
  div.menu-login div.r1 div.MainMenu {
    height: auto;
  }
  div.menu-login div.r2 {
    float: none;
    width: auto;
  }
  div.menu-login div.r2 a.dropdown {
    margin: 0 10px 10px 0;
  }
}
body.design-sky div.menu-login {
  background-color: #41587B;
}
div.menu-only {
  background-color: #444;
}
div.menu-only > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
body.no-sidebar div.menu-only > div.wrap {
  max-width: 1140px;
}
body.design-sky div.menu-only {
  background-color: #41587B;
}
div.menu-search {
  background-color: #444;
}
div.menu-search > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
body.no-sidebar div.menu-search > div.wrap {
  max-width: 1140px;
}
div.menu-search div.r1 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70.571428571429%;
}
div.menu-search div.r1:first-of-type {
  margin-left: 0;
}
div.menu-search div.r2 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 26.428571428571%;
  padding: 5px 0 0 0;
}
div.menu-search div.r2:first-of-type {
  margin-left: 0;
}
div.menu-search div.r2 div.search input[type="search"] {
  height: 24px;
  border: #004F67 1px solid;
}
div.menu-search div.r2 div.search button {
  height: 26px;
}
@media (max-width: 767px) {
  div.menu-search div.r1,
  div.menu-search div.r2 {
    width: 100%;
    margin: 0;
  }
  div.menu-search div.r2 div.search {
    margin: 10px;
  }
}
body.design-sky div.menu-search {
  background-color: #41587B;
}
div.MainMenu2 {
  background-color: #111;
}
div.MainMenu2 > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
body.no-sidebar div.MainMenu2 > div.wrap {
  max-width: 1140px;
}
div.MainMenu2 ul.menu li a {
  color: #ccc;
  font-size: 12px;
}
div.MainMenu2 ul.menu li a:hover {
  background-color: transparent;
  color: #fff;
}
body.design-sky div.MainMenu2 {
  background-color: #233248;
}
div.MainMenu3 > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  background-color: #777;
}
body.no-sidebar div.MainMenu3 > div.wrap {
  max-width: 1140px;
}
div.MainMenu3 ul.menu li a {
  color: #ddd;
}
div.MainMenu3 ul.menu li a:hover {
  background-color: transparent;
  color: #fff;
}
body.design-sky div.MainMenu3 > div.wrap {
  background-color: #233248;
}
div.ns-menu-block {
  background-color: #444;
}
div.ns-menu-block > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
body.no-sidebar div.ns-menu-block > div.wrap {
  max-width: 1140px;
}
div.ns-menu-block div.r1 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 11.714285714286%;
  font-size: 16px;
  padding: 9px 0 0 10px;
  color: #fff;
  font-weight: bold;
}
div.ns-menu-block div.r1:first-of-type {
  margin-left: 0;
}
div.ns-menu-block div.r1 a {
  text-decoration: none;
}
div.ns-menu-block div.r2 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70.571428571429%;
}
div.ns-menu-block div.r2:first-of-type {
  margin-left: 0;
}
div.ns-menu-block div.r3 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 11.714285714286%;
  text-align: right;
  padding: 10px 10px 0 0;
  color: #fff;
}
div.ns-menu-block div.r3:first-of-type {
  margin-left: 0;
}
@media (max-width: 767px) {
  div.ns-menu-block div.r1 {
    width: 100%;
    float: none;
    padding: 10px;
    margin: 0;
  }
  div.ns-menu-block div.r2 {
    width: 100%;
    float: none;
    margin: 0;
  }
  div.ns-menu-block div.r2 div.MainMenu {
    height: auto;
  }
  div.ns-menu-block div.r3 {
    float: none;
    width: auto;
  }
}
body.design-sky div.ns-menu-block {
  background-color: #41587B;
}
div.ns-menu-login {
  background-color: #444;
}
div.ns-menu-login > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
body.no-sidebar div.ns-menu-login > div.wrap {
  max-width: 1140px;
}
div.ns-menu-login div.r1 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 11.714285714286%;
  font-size: 16px;
  padding: 9px 0 0 10px;
  color: #fff;
  font-weight: bold;
}
div.ns-menu-login div.r1:first-of-type {
  margin-left: 0;
}
div.ns-menu-login div.r1 a {
  text-decoration: none;
}
div.ns-menu-login div.r2 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70.571428571429%;
}
div.ns-menu-login div.r2:first-of-type {
  margin-left: 0;
}
div.ns-menu-login div.r3 {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 11.714285714286%;
  padding: 10px 0 0 0;
}
div.ns-menu-login div.r3:first-of-type {
  margin-left: 0;
}
div.ns-menu-login div.r3 a.dropdown {
  display: inline-block;
  float: right;
  margin-right: 5px;
  color: #fff;
  text-decoration: none;
  border-bottom: #ddd 1px dashed;
}
div.ns-menu-login div.r3 form {
  padding: 10px 15px 0 15px;
  width: 200px;
}
div.ns-menu-login div.r3 form input {
  width: 195px;
}
div.ns-menu-login div.r3 form span.registration {
  display: inline-block;
  float: right;
}
@media (max-width: 767px) {
  div.ns-menu-login div.r1 {
    width: 100%;
    float: none;
    padding: 10px;
    margin: 0;
  }
  div.ns-menu-login div.r2 {
    width: 100%;
    float: none;
    margin: 0;
  }
  div.ns-menu-login div.r2 div.MainMenu {
    height: auto;
  }
  div.ns-menu-login div.r3 {
    float: none;
    width: auto;
    padding: 0;
  }
  div.ns-menu-login div.r3 a.dropdown {
    margin: 0 10px 10px 0;
  }
}
body.design-sky div.ns-menu-login {
  background-color: #41587B;
}
div.slidesjs {
  position: relative;
  height: 340px;
}
div.slidesjs > div.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  background-color: #eee;
}
body.no-sidebar div.slidesjs > div.wrap {
  max-width: 1140px;
}
div.slidesjs div.slides_container {
  height: 300px;
}
div.slidesjs div.slide {
  width: 100%;
}
div.slidesjs div.slide div.r2 {
  height: 80px;
  bottom: -85px;
  z-index: 500;
  position: absolute;
  left: 0;
  padding: 5px 10px 0 10px;
  background: #000;
  background: rgba(0,0,0,0.5);
  width: 100%;
  border-top: 1px solid #777;
}
div.slidesjs div.slide div.r2 h3 {
  margin: 5px 10px;
  font-size: 13pt;
  color: white;
}
div.slidesjs div.slide div.r2 h3 a {
  color: white;
}
div.slidesjs div.slide div.r2 p {
  margin: 0 10px;
  color: white;
}
div.slidesjs div.prev-next {
  width: 50px;
  float: left;
  padding-top: 7px;
}
div.slidesjs a.prev,
div.slidesjs a.next {
  display: inline-block;
  width: 21px;
  height: 21px;
}
div.slidesjs a.prev {
  background: url("../components/slidesjs/images/arrow-prev.png") no-repeat;
}
div.slidesjs a.next {
  background: url("../components/slidesjs/images/arrow-next.png") no-repeat;
}
div.slidesjs ul.pagination {
  list-style: none;
  display: block;
  background: #EEE;
  margin: 0;
  padding: 5px 0;
  text-align: right;
  height: 30px;
  line-height: 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
body.no-sidebar div.slidesjs ul.pagination {
  max-width: 1140px;
}
div.slidesjs ul.pagination li {
  display: inline;
}
div.slidesjs ul.pagination li a {
  color: white;
  margin: 0 1px;
  padding: 7px 10px;
  background: #bbb;
  text-decoration: none;
}
div.slidesjs ul.pagination li.slides_current a {
  background: #777;
}
div.slidesjs.no-pagination {
  height: 300px;
}
div.tabs ul.tabs-nav {
  margin-left: 10px;
}
div.tabs ul.tabs-nav li.elem {
  margin: 0 2px 0 0;
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  background-color: #aaa;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear,left top,left bottom,from(#5e5e5e),to(#aaa));
  background-image: -moz-linear-gradient(top,#5e5e5e,#aaa);
  background-image: -ms-linear-gradient(top,#5e5e5e,#aaa);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5e5e5e),color-stop(100%,#aaa));
  background-image: -webkit-linear-gradient(top,#5e5e5e,#aaa);
  background-image: -o-linear-gradient(top,#5e5e5e,#aaa);
  background-image: linear-gradient(top,#5e5e5e,#aaa);
  -moz-box-shadow: inset 0 -2px 5px #5e5e5e;
  -webkit-box-shadow: inset 0 -2px 5px #5e5e5e;
  box-shadow: inset 0 -2px 5px #5e5e5e;
}
div.tabs ul.tabs-nav li.elem:hover {
  background-color: #adadad;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear,left top,left bottom,from(#b2b2b2),to(#adadad));
  background-image: -moz-linear-gradient(top,#b2b2b2,#adadad);
  background-image: -ms-linear-gradient(top,#b2b2b2,#adadad);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#b2b2b2),color-stop(100%,#adadad));
  background-image: -webkit-linear-gradient(top,#b2b2b2,#adadad);
  background-image: -o-linear-gradient(top,#b2b2b2,#adadad);
  background-image: linear-gradient(top,#b2b2b2,#adadad);
}
div.tabs ul.tabs-nav li.tabs-current {
  color: gray;
  background-color: #F2F2F2;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear,left top,left bottom,from(#efefef),to(#F2F2F2));
  background-image: -moz-linear-gradient(top,#efefef,#F2F2F2);
  background-image: -ms-linear-gradient(top,#efefef,#F2F2F2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#efefef),color-stop(100%,#F2F2F2));
  background-image: -webkit-linear-gradient(top,#efefef,#F2F2F2);
  background-image: -o-linear-gradient(top,#efefef,#F2F2F2);
  background-image: linear-gradient(top,#efefef,#F2F2F2);
  -moz-box-shadow: inset 0 3px 3px #a6a6a6;
  -webkit-box-shadow: inset 0 3px 3px #a6a6a6;
  box-shadow: inset 0 3px 3px #a6a6a6;
  -webkit-transition: all 0.2s 0s ease-out;
  -moz-transition: all 0.2s 0s ease-out;
  -ms-transition: all 0.2s 0s ease-out;
  -o-transition: all 0.2s 0s ease-out;
  transition: all 0.2s 0s ease-out;
}
div.tabs ul.tabs-nav li.tabs-current:hover {
  color: #343434;
  background-color: #F2F2F2;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear,left top,left bottom,from(#eaeaea),to(#F2F2F2));
  background-image: -moz-linear-gradient(top,#eaeaea,#F2F2F2);
  background-image: -ms-linear-gradient(top,#eaeaea,#F2F2F2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#eaeaea),color-stop(100%,#F2F2F2));
  background-image: -webkit-linear-gradient(top,#eaeaea,#F2F2F2);
  background-image: -o-linear-gradient(top,#eaeaea,#F2F2F2);
  background-image: linear-gradient(top,#eaeaea,#F2F2F2);
}
div.tabs div.tabs-box {
  background: #F2F2F2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -o-box-shadow: 0 0 3px #a6a6a6;
  -webkit-box-shadow: 0 0 3px #a6a6a6;
  -moz-box-shadow: 0 0 3px #a6a6a6;
  box-shadow: 0 0 3px #a6a6a6;
}
