.htaccess
sitemap.xml
robots.txt

application/maxsite/mso_config.php
application/config/database.php

/application/cache/*
/application/cache/db/*.*
!/application/cache/db/.gitkeep/.gitkeep
/application/cache/html/*.*
!/application/cache/html/.gitkeep/.gitkeep
/application/cache/rss/*.*
!/application/cache/rss/.gitkeep/.gitkeep

/uploads/**
!/uploads/.htaccess
!/uploads/smiles/*.gif
!/uploads/mini/index.html
!/uploads/_mso_i/index.html
!/uploads/_mso_float/index.html
