html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; 
	padding: 0; 
	border: 0; 
	font-size: 100%; 
	font: inherit; 
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-family: Arial; 
	font-size: 14px; 
	background: #606060;
	color: #444;
}

body, div, p, h1, h2, h3, h4, h5, h6 {
	line-height: 1.5em;
}

p {
	margin: 0 0 10px 0;
}

a { 
	color: #0F3BBE; 
	text-decoration: none;
}

a:hover {
	color: #0741ED; 
	text-decoration: underline;
}

#container {
	width: 600px; 
	margin: 40px auto; 
	border: 1px solid #111; 
	background: #fff; 
}

#container div.wrap {
	margin: 15px; 
}

h1 {
	font-size: 18px; 
	color: #eee; 
	background: #222; 
	padding: 15px 0; 
	font-weight: norma1l; 
	margin: 0;
	text-align: center;
}

h1 a {
	color: #eee;
}

h1 a:hover {
	color: #eee;
}



div.proverka {
	padding: 5px 10px; 
	margin: 20px 0 20px 0; 
	border-top: 3px double #a0a0a0; 
	border-bottom: 3px double #a0a0a0; 
	font-size: 12px;
}

div.proverka p {
	margin: 7px 0;
}

span {color: #3C5FB3;}

p.ok {
	color: green; 
	font-weight: bold;
}

p.ok span {
	color: green; 
	display: inline-block; 
	margin-right: 10px;
}

p.error {
	color: red;
}

p.error span {
	color: #606060;
}

p.f5 {
	background: red; 
	color: white; 
	text-align: center; 
	padding: 5px;
}

p.f-name {
	margin: 10px 0;
}

p.f-name span {
	display: block; 
	float: left; 
	width: 150px; 
	padding: 3px 0 0 0; 
	margin: 0 5px 0 0; 
	text-align: right;
}

p.f-desc {
	clear: both; 
	margin-left: 155px; 
	font-style: italic; 
	color: #606060; 
	font-size: 12px;
}

p.f-ch {
	clear: both; 
	margin: 15px 0 0 155px; 
	color: #3C5FB3;
}

#mysubmit {
	padding: 5px 15px; 
	font-weight: bold;
}

p.mysubmit-ok {
	text-align: center;
}

label {
	cursor: pointer;
}

input[type='checkbox'] {
	cursor: pointer; 
	margin-top: 2px; 
	vertical-align: middle;
}

h2 {
	font-size: 18px; 
	color: #404040; 
	margin: 20px 0;
}

h2.error {
	color: red; 
	text-align: center;
}

h3 {
	font-size: 14px;
}

h2.res {
	color: green; 
	margin: 20px 80px 10px 80px;
}

p.res {
	margin: 10px 80px 20px 80px;
}
