$icomoon-font-path: "../../../fonts/mfont/";

$icomoon-font-family: "mfont" !default;
$icomoon-font-path: "fonts" !default;

$im-ad: "\e900";
$im-address-card: "\e901";
$im-address-card1: "\e902";
$im-angle-double-down: "\e903";
$im-angle-double-left: "\e904";
$im-angle-double-right: "\e905";
$im-angle-double-up: "\e906";
$im-angle-down: "\e907";
$im-angle-left: "\e908";
$im-angle-right: "\e909";
$im-angle-up: "\e90a";
$im-arrow-alt-circle-down: "\e90b";
$im-arrow-alt-circle-down1: "\e90c";
$im-arrow-alt-circle-left: "\e90d";
$im-arrow-alt-circle-left1: "\e90e";
$im-arrow-alt-circle-right: "\e90f";
$im-arrow-alt-circle-right1: "\e910";
$im-arrow-alt-circle-up: "\e911";
$im-arrow-alt-circle-up1: "\e912";
$im-arrow-circle-down: "\e913";
$im-arrow-circle-left: "\e914";
$im-arrow-circle-right: "\e915";
$im-arrow-circle-up: "\e916";
$im-arrow-down: "\e917";
$im-arrow-left: "\e918";
$im-arrow-right: "\e919";
$im-arrow-up: "\e91a";
$im-asterisk: "\e91b";
$im-ban: "\e91c";
$im-bars: "\e91d";
$im-book: "\e91e";
$im-bookmark: "\e91f";
$im-bookmark1: "\e920";
$im-calendar: "\e921";
$im-calendar1: "\e922";
$im-calendar-alt: "\e923";
$im-calendar-alt1: "\e924";
$im-caret-down: "\e925";
$im-caret-left: "\e926";
$im-caret-right: "\e927";
$im-caret-square-down: "\e928";
$im-caret-square-left: "\e929";
$im-caret-square-right: "\e92a";
$im-caret-square-up: "\e92b";
$im-caret-up: "\e92c";
$im-cart-plus: "\e92d";
$im-chart-area: "\e92e";
$im-chart-bar: "\e92f";
$im-chart-bar1: "\e930";
$im-chart-line: "\e931";
$im-check: "\e932";
$im-check-circle: "\e933";
$im-check-circle1: "\e934";
$im-check-double: "\e935";
$im-check-square: "\e936";
$im-check-square1: "\e937";
$im-chevron-circle-down: "\e938";
$im-chevron-circle-left: "\e939";
$im-chevron-circle-right: "\e93a";
$im-chevron-circle-up: "\e93b";
$im-chevron-down: "\e93c";
$im-chevron-left: "\e93d";
$im-chevron-right: "\e93e";
$im-chevron-up: "\e93f";
$im-circle: "\e940";
$im-circle1: "\e941";
$im-clock: "\e942";
$im-clock1: "\e943";
$im-clone: "\e944";
$im-cloud-download-alt: "\e945";
$im-code: "\e946";
$im-cog: "\e947";
$im-cogs: "\e948";
$im-columns: "\e949";
$im-comment: "\e94a";
$im-comment1: "\e94b";
$im-comment-alt: "\e94c";
$im-comment-alt1: "\e94d";
$im-comment-dollar: "\e94e";
$im-comment-dots: "\e94f";
$im-comment-dots1: "\e950";
$im-comment-medical: "\e951";
$im-comments: "\e952";
$im-comments1: "\e953";
$im-comments-dollar: "\e954";
$im-comment-slash: "\e955";
$im-desktop: "\e956";
$im-donate: "\e957";
$im-dot-circle: "\e958";
$im-download: "\e959";
$im-edit: "\e95a";
$im-edit1: "\e95b";
$im-ellipsis-h: "\e95c";
$im-ellipsis-v: "\e95d";
$im-envelope: "\e95e";
$im-envelope1: "\e95f";
$im-envelope-open: "\e960";
$im-envelope-open1: "\e961";
$im-envelope-open-text: "\e962";
$im-envelope-square: "\e963";
$im-exclamation: "\e964";
$im-exclamation-circle: "\e965";
$im-exclamation-triangle: "\e966";
$im-external-link-alt: "\e967";
$im-external-link-square-alt: "\e968";
$im-eye: "\e969";
$im-eye1: "\e96a";
$im-eye-slash: "\e96b";
$im-facebook: "\e96c";
$im-facebook-f: "\e96d";
$im-facebook-square: "\e96e";
$im-file-code: "\e96f";
$im-folder: "\e970";
$im-folder1: "\e971";
$im-folder-open: "\e972";
$im-folder-open1: "\e973";
$im-github: "\e974";
$im-github-alt: "\e975";
$im-github-square: "\e976";
$im-globe: "\e977";
$im-hashtag: "\e978";
$im-home: "\e979";
$im-house-damage: "\e97a";
$im-house-user: "\e97b";
$im-id-card: "\e97c";
$im-id-card1: "\e97d";
$im-image: "\e97e";
$im-images: "\e97f";
$im-info: "\e980";
$im-info-circle: "\e981";
$im-instagram: "\e982";
$im-instagram-square: "\e983";
$im-laptop: "\e984";
$im-laptop-code: "\e985";
$im-lightbulb: "\e986";
$im-link: "\e987";
$im-list-alt: "\e988";
$im-long-arrow-alt-down: "\e989";
$im-long-arrow-alt-left: "\e98a";
$im-long-arrow-alt-right: "\e98b";
$im-long-arrow-alt-up: "\e98c";
$im-low-vision: "\e98d";
$im-map-marker-alt: "\e98e";
$im-map-pin: "\e98f";
$im-minus: "\e990";
$im-minus-circle: "\e991";
$im-minus-square: "\e992";
$im-minus-square1: "\e993";
$im-mobile-alt: "\e994";
$im-newspaper: "\e995";
$im-newspaper1: "\e996";
$im-odnoklassniki: "\e997";
$im-odnoklassniki-square: "\e998";
$im-phone: "\e999";
$im-phone-alt: "\e99a";
$im-phone-square: "\e99b";
$im-phone-square-alt: "\e99c";
$im-pinterest: "\e99d";
$im-pinterest-p: "\e99e";
$im-pinterest-square: "\e99f";
$im-plus: "\e9a0";
$im-plus-circle: "\e9a1";
$im-plus-square: "\e9a2";
$im-plus-square1: "\e9a3";
$im-puzzle-piece: "\e9a4";
$im-question: "\e9a5";
$im-question-circle: "\e9a6";
$im-question-circle1: "\e9a7";
$im-quote-left: "\e9a8";
$im-quote-right: "\e9a9";
$im-rocket: "\e9aa";
$im-rss: "\e9ab";
$im-rss-square: "\e9ac";
$im-save: "\e9ad";
$im-save1: "\e9ae";
$im-search: "\e9af";
$im-share-square: "\e9b0";
$im-sign-in-alt: "\e9b1";
$im-sign-out-alt: "\e9b2";
$im-sitemap: "\e9b3";
$im-skype: "\e9b4";
$im-slack-hash: "\e9b5";
$im-sort-down: "\e9b6";
$im-sort-up: "\e9b7";
$im-square: "\e9b8";
$im-star: "\e9b9";
$im-sun: "\e9ba";
$im-sun1: "\e9bb";
$im-tablet-alt: "\e9bc";
$im-tachometer-alt: "\e9bd";
$im-tag: "\e9be";
$im-tags: "\e9bf";
$im-tasks: "\e9c0";
$im-telegram: "\e9c1";
$im-telegram-plane: "\e9c2";
$im-ticket-alt: "\e9c3";
$im-tiktok: "\e9c4";
$im-times: "\e9c5";
$im-times-circle: "\e9c6";
$im-times-circle1: "\e9c7";
$im-toggle-off: "\e9c8";
$im-toggle-on: "\e9c9";
$im-tools: "\e9ca";
$im-twitter: "\e9cb";
$im-twitter-square: "\e9cc";
$im-upload: "\e9cd";
$im-user: "\e9ce";
$im-user1: "\e9cf";
$im-user-alt: "\e9d0";
$im-user-check: "\e9d1";
$im-user-circle: "\e9d2";
$im-user-circle1: "\e9d3";
$im-user-friends: "\e9d4";
$im-viber: "\e9d5";
$im-vk: "\e9d6";
$im-whatsapp: "\e9d7";
$im-whatsapp-square: "\e9d8";
$im-window-close: "\e9d9";
$im-window-close1: "\e9da";
$im-wrench: "\e9db";
$im-youtube: "\e9dc";
$im-youtube-square: "\e9dd";
