// MaxSite CMS
// Copyright http://max-3000.com/

// «Глобальные» переменные. Все именя прописными (большими) буквами!

@CONTENT_WIDTH: 960px; // вся полезная ширина сайта (контент + сайдбар)
@SIDEBAR_WIDTH: 250px; // ширина основного сайдбара

@LINK_COLOR: #0E97BF; // цвет ссылок
@LINK_COLOR_HOVER: darken(@LINK_COLOR, 15%); // цвет при наведении

@H1_COLOR: #333; // цвет h1
@H1_LINK_COLOR: #333; // цвет h1-ссылки

@COLOR_FOCUS: #0066ff; // цвет фокуса элементов в mixins/button.less

@SANS: "Helvetica Neue", Helvetica, Arial, sans-serif;
@SERIF: Georgia, "Times New Roman", Times, serif;
@MONO: Monaco, Menlo, Consolas, "Courier New", monospace;
@CURSIVE: "Comic Sans", cursive;
