body{background-color:#b6e6b3;background:#6dcc66;background-image:-webkit-gradient(linear, left top, left bottom, from(#6dcc66), to(#b6e6b3));background-image:-moz-linear-gradient(top, #6dcc66, #b6e6b3);-ms-filter:formatstring("\"progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}')\"", #6dcc66, #b6e6b3);}
a{color:#1d4d19;}
a:hover{color:#3a9933;}
h1{color:#2b7326;text-shadow:1px 1px 3px #2b7326;}
h1 a{color:#2b7326;}
h1 a:hover{color:#2b7326;}
h1.category{background:#2b7326;color:#b6e5b3;-webkit-border-radius:10px 10px 10px 10px;-moz-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;behavior:url(/PIE.php);}
div.all-wrap{width:960px;margin:20px auto;-webkit-border-radius:10px 10px 10px 10px;-moz-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;behavior:url(/PIE.php);}
div.header{width:960px;}
div.main{width:960px;}
div.content{width:710px;margin:0;float:right;}
div.content-wrap{margin:15px;}
div.sidebar{width:250px;float:left;margin:0;}
div.sidebar1-wrap{margin:15px;}
div.footer{-webkit-border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;behavior:url(/PIE.php);}div.footer div.footer-wrap{background:#1d4d19;color:#b6e6b3;-webkit-border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;behavior:url(/PIE.php);}
div.footer a{color:#b6e6b3;}
.h1_category{background:#2b7326;color:#daf2d9;padding:5px 10px;margin:10px 0;-webkit-border-radius:10px 10px 10px 10px;-moz-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;behavior:url(/PIE.php);}
div.MainMenu{background:#3a9933;background:#3a9933;background-image:-webkit-gradient(linear, left top, left bottom, from(#3a9933), to(#2b7326));background-image:-moz-linear-gradient(top, #3a9933, #2b7326);-ms-filter:formatstring("\"progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}')\"", #3a9933, #2b7326);}
ul.menu li a{margin:0;padding:0 10px;color:#ffffff;}
ul.menu li.selected a,ul.menu li a:hover{background:#6dcc66;background:#5bc653;background-image:-webkit-gradient(linear, left top, left bottom, from(#5bc653), to(#7fd279));background-image:-moz-linear-gradient(top, #5bc653, #7fd279);-ms-filter:formatstring("\"progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}')\"", #5bc653, #7fd279);color:#0e260d;text-decoration:none;}
ul.menu li.group ul li a{margin:0;background:#b6e6b3;color:#0e260d;border-top:1px solid #91d98c;font-weight:normal;}
ul.menu li.group ul li a:hover{color:#c8ecc6;background:#2b7326;}
div.pagination strong{background:#48bf40;color:#ffffff;}
div.widget{background:#daf2d9;-webkit-border-radius:10px 10px 10px 10px;-moz-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;behavior:url(/PIE.php);box-shadow:0 0 5px #6dcc66;-o-box-shadow:0 0 5px #6dcc66;-webkit-box-shadow:0 0 5px #6dcc66;-moz-box-shadow:0 0 5px #6dcc66;behavior:url(/PIE.php);background:#daf2d9;background-image:-webkit-gradient(linear, left top, left bottom, from(#daf2d9), to(#91d98c));background-image:-moz-linear-gradient(top, #daf2d9, #91d98c);-ms-filter:formatstring("\"progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}')\"", #daf2d9, #91d98c);}div.widget div.w0{padding:10px;}
div.widget a{text-decoration:none;}
div.widget a:hover{text-decoration:underline;}
div.widget div.widget_header{color:#3a9933;}
div.tabs-box{background:none;border:0;}
ul.tabs-nav{height:auto;}ul.tabs-nav li.elem{background:#b6e6b3;color:#3a9933;border-radius:3px;padding:7px;line-height:1em;height:1em;}
ul.tabs-nav li.elem:hover,ul.tabs-nav li.tabs-current{color:#ffffff;background:#3a9933;}
div.leave_a_comment,div.page_comments_count,div.page_other_pages_header{border:none;background:#daf2d9;color:#3a9933;}
div.comment-form{background:#daf2d9;color:#0e260d;border:none;}
div.comment-info{background:#edf9ec;color:#0e260d;}
dt,dd,table th{background:#daf2d9;}
blockquote{color:#2b7326;border:1px solid #b6e6b3;background:#edf9ec url("[TEMPLATE_URL]/images/icons/note.png") 10px 10px no-repeat;padding:10px 10px 10px 75px;margin:10px 0;min-height:50px;-webkit-border-radius:10px 10px 10px 10px;-moz-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;behavior:url(/PIE.php);}
div.comments blockquote{margin:10px;padding:0;border:none;background:none;color:#2b7326;font-style:italic;min-height:0;}
div.comments blockquote:before{content:">> ";}
code,pre{background:#edf9ec;color:#2b7326;border:1px solid #b6e6b3;-webkit-border-radius:10px 10px 10px 10px;-moz-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;behavior:url(/PIE.php);}
