// (c) Berry - CSS Utilities, http://maxsite.org/berry

// Setting colors

// $color_base_list > for text and background: .t-red, .bg-red, .hover-t-red, .hover-bg-red
// $border_list_color > color for borders: .bor-color1, .hover-bor-blue
// $color_links_hover_list > for classes .links-hover-t-blue, .links-hover-bg-green

// color list for text, background and hover-classes
// color: $value
// .t-red, .bg-red, .hover-t-red, .hover-bg-red
$color_base_list: (

    // "primary": $color_primary,
    // "secondary": $color_secondary,
    // "success": $color_success,
    // "danger": $color_danger,
    // "warning": $color_warning,
    // "info": $color_info,
    // "light": $color_light,
    // "dark": $color_dark,

    "color1":  $color1,
    "color2":  $color2,
    "color3":  $color3,
    "color4":  $color4,
    "color5":  $color5,

    "white":   $white,
    "black":   $black,

    "gray":    $gray,
    "gray50":  $gray50,
    "gray100": $gray100,
    "gray150": $gray150,
    "gray200": $gray200,
    "gray250": $gray250,
    "gray300": $gray300,
    "gray350": $gray350,
    "gray400": $gray400,
    "gray450": $gray450,
    "gray500": $gray500,
    "gray550": $gray550,
    "gray600": $gray600,
    "gray650": $gray650,
    "gray700": $gray700,
    "gray750": $gray750,
    "gray800": $gray800,
    "gray850": $gray850,
    "gray900": $gray900,
    "gray950": $gray950,

    "red":    $red,
    "red50":  $red50,
    "red100": $red100,
    "red200": $red200,
    "red300": $red300,
    "red400": $red400,
    "red500": $red500,
    "red600": $red600,
    "red700": $red700,
    "red800": $red800,
    "red900": $red900,

    "pink":    $pink,
    "pink50":  $pink50,
    "pink100": $pink100,
    "pink200": $pink200,
    "pink300": $pink300,
    "pink400": $pink400,
    "pink500": $pink500,
    "pink600": $pink600,
    "pink700": $pink700,
    "pink800": $pink800,
    "pink900": $pink900,

    "purple":    $purple,
    "purple50":  $purple50,
    "purple100": $purple100,
    "purple200": $purple200,
    "purple300": $purple300,
    "purple400": $purple400,
    "purple500": $purple500,
    "purple600": $purple600,
    "purple700": $purple700,
    "purple800": $purple800,
    "purple900": $purple900,

    "violet":    $violet,
    "violet50":  $violet50,
    "violet100": $violet100,
    "violet200": $violet200,
    "violet300": $violet300,
    "violet400": $violet400,
    "violet500": $violet500,
    "violet600": $violet600,
    "violet700": $violet700,
    "violet800": $violet800,
    "violet900": $violet900,

    "indigo":    $indigo,
    "indigo50":  $indigo50,
    "indigo100": $indigo100,
    "indigo200": $indigo200,
    "indigo300": $indigo300,
    "indigo400": $indigo400,
    "indigo500": $indigo500,
    "indigo600": $indigo600,
    "indigo700": $indigo700,
    "indigo800": $indigo800,
    "indigo900": $indigo900,

    "blue":    $blue,
    "blue50":  $blue50,
    "blue100": $blue100,
    "blue200": $blue200,
    "blue300": $blue300,
    "blue400": $blue400,
    "blue500": $blue500,
    "blue600": $blue600,
    "blue700": $blue700,
    "blue800": $blue800,
    "blue900": $blue900,
    
    "cyan":    $cyan,
    "cyan50":  $cyan50,
    "cyan100": $cyan100,
    "cyan200": $cyan200,
    "cyan300": $cyan300,
    "cyan400": $cyan400,
    "cyan500": $cyan500,
    "cyan600": $cyan600,
    "cyan700": $cyan700,
    "cyan800": $cyan800,
    "cyan900": $cyan900,

    "teal":    $teal,
    "teal50":  $teal50,
    "teal100": $teal100,
    "teal200": $teal200,
    "teal300": $teal300,
    "teal400": $teal400,
    "teal500": $teal500,
    "teal600": $teal600,
    "teal700": $teal700,
    "teal800": $teal800,
    "teal900": $teal900,

    "green":    $green,
    "green50":  $green50,
    "green100": $green100,
    "green200": $green200,
    "green300": $green300,
    "green400": $green400,
    "green500": $green500,
    "green600": $green600,
    "green700": $green700,
    "green800": $green800,
    "green900": $green900,

    "lime":    $lime,
    "lime50":  $lime50,
    "lime100": $lime100,
    "lime200": $lime200,
    "lime300": $lime300,
    "lime400": $lime400,
    "lime500": $lime500,
    "lime600": $lime600,
    "lime700": $lime700,
    "lime800": $lime800,
    "lime900": $lime900,

    "yellow":    $yellow,
    "yellow50":  $yellow50,
    "yellow100": $yellow100,
    "yellow200": $yellow200,
    "yellow300": $yellow300,
    "yellow400": $yellow400,
    "yellow500": $yellow500,
    "yellow600": $yellow600,
    "yellow700": $yellow700,
    "yellow800": $yellow800,
    "yellow900": $yellow900,

    "orange":    $orange,
    "orange50":  $orange50,
    "orange100": $orange100,
    "orange200": $orange200,
    "orange300": $orange300,
    "orange400": $orange400,
    "orange500": $orange500,
    "orange600": $orange600,
    "orange700": $orange700,
    "orange800": $orange800,
    "orange900": $orange900,

    "brown":    $brown,
    "brown50":  $brown50,
    "brown100": $brown100,
    "brown200": $brown200,
    "brown300": $brown300,
    "brown400": $brown400,
    "brown500": $brown500,
    "brown600": $brown600,
    "brown700": $brown700,
    "brown800": $brown800,
    "brown900": $brown900,

    "olive":    $olive,
    "olive50":  $olive50,
    "olive100": $olive100,
    "olive200": $olive200,
    "olive300": $olive300,
    "olive400": $olive400,
    "olive500": $olive500,
    "olive600": $olive600,
    "olive700": $olive700,
    "olive800": $olive800,
    "olive900": $olive900,
);

// color for borders
// .bor-color1, .hover-bor-blue
$border_list_color: (
    "color1":  $color1,
    "color2":  $color2,
    "color3":  $color3,
    "color4":  $color4,
    "color5":  $color5,

    "white":   $white,
    "black":   $black,

    "gray":    $gray,
    "gray50":  $gray50,
    "gray100": $gray100,
    "gray200": $gray200,
    "gray300": $gray300,
    "gray400": $gray400,
    "gray500": $gray500,
    "gray600": $gray600,
    "gray700": $gray700,
    "gray800": $gray800,
    "gray900": $gray900,

    'red':     $red,
    'brown':  $brown,
    'orange': $orange,
    'yellow': $yellow,
    'olive':  $olive,
    'lime':   $lime,
    'green':  $green,
    'teal':   $teal,
    'cyan':   $cyan,
    'blue':   $blue,
    'indigo': $indigo,
    'violet': $violet,
    'purple': $purple,
    'pink':   $pink,

);

// list colors for classes .links-hover-t-XXX and .links-hover-bg-XXX
// .links-hover-t-red, .links-hover-bg-color5
$color_links_hover_list: (
    "color1":  $color1,
    "color2":  $color2,
    "color3":  $color3,
    "color4":  $color4,
    "color5":  $color5,

    "white":   $white,
    "black":   $black,

    "gray":    $gray,
    "gray50":  $gray50,
    "gray100": $gray100,
    "gray200": $gray200,
    "gray300": $gray300,
    "gray400": $gray400,
    "gray500": $gray500,
    "gray600": $gray600,
    "gray700": $gray700,
    "gray800": $gray800,
    "gray900": $gray900,

    'red':     $red,
    'brown':  $brown,
    'orange': $orange,
    'yellow': $yellow,
    'olive':  $olive,
    'lime':   $lime,
    'green':  $green,
    'teal':   $teal,
    'cyan':   $cyan,
    'blue':   $blue,
    'indigo': $indigo,
    'violet': $violet,
    'purple': $purple,
    'pink':   $pink,
);
