// (c) Berry - CSS Utilities, http://maxsite.org/berry

.#{$pf}b-clearfix {

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.#{$pf}b-right {
    float: right;
}

.#{$pf}b-left {
    float: left;
}

.#{$pf}b-center {
    margin-left : auto;
    margin-right: auto;
}

.#{$pf}b-hide {
    display: none;
}

.#{$pf}b-hide-imp {
    display: none !important;
}

.#{$pf}b-inline,
.#{$pf}b-inline-block {
    display: inline-block;
}

.#{$pf}b-block {
    display: block;
}

.#{$pf}b-flex {
    display: flex;
}

.#{$pf}b-grid {
    display: grid;
}

.#{$pf}b-clear {
    clear: both;
}

.#{$pf}va-baseline {
    vertical-align: baseline;
}

.#{$pf}va-top {
    vertical-align: top;
}

.#{$pf}va-middle {
    vertical-align: middle;
}

.#{$pf}va-bottom {
    vertical-align: bottom;
}

.#{$pf}va-text-top {
    vertical-align: text-top;
}

.#{$pf}va-text-bottom {
    vertical-align: text-bottom;
}

.#{$pf}va-sub {
    vertical-align: sub;
}

.#{$pf}va-super {
    vertical-align: super;
}