// (c) Berry - CSS Utilities, http://maxsite.org/berry

// height

.#{$pf}h100 {
    height: 100%;
}

.#{$pf}h-auto {
    height: auto;
}

// height in px
@each $var in $height_list_px {

    .#{$pf}h#{$var}px {
        height: #{$var}px;
    }

    .#{$pf}h#{$var}px-min {
        min-height: #{$var}px !important;
    }

    .#{$pf}h#{$var}px-max {
        max-height: #{$var}px !important;
    }
}

// height in vh
@each $var in $height_list_vh {

    .#{$pf}h#{$var}vh {
        height: #{$var}vh;
    }
    
    .#{$pf}h#{$var}vh-min {
        min-height: #{$var}vh;
    }
    
    .#{$pf}h#{$var}vh-max {
        max-height: #{$var}vh;
    }
}
