// (c) Berry - CSS Utilities, http://maxsite.org/berry

a {
    // reset color for :hover
    &.#{$pf}hover-no-color {
        &:hover {
            color: inherit;
        }
    }
    
    // reset underline for :hover
    &.#{$pf}hover-no-underline {
        &:hover {
            text-decoration: none;
        }
    }
}

// for child
.#{$pf}hover-no-color {
    a:hover {
        color: inherit;
    }
}

.#{$pf}hover-no-underline {
    a:hover {
        text-decoration: none;
    }
}

.#{$pf}link-no-color,
.#{$pf}links-no-color {
    a:not([class^="#{$pf}t-"]):not([class*=" #{$pf}t-"])
    {
        color: inherit;
    }
}

.#{$pf}link-no-color-imp,
.#{$pf}links-no-color-imp {
    a {
        color: inherit !important;
    }
}
