// (c) Berry - CSS Utilities, http://maxsite.org/berry

.#{$pf}bg-size-auto {
    background-size: auto;
}

.#{$pf}bg-size-cover {
    background-size: cover;
}

.#{$pf}bg-size-contain {
    background-size: contain;
}
