// (c) Berry - CSS Utilities, http://maxsite.org/berry

.#{$pf}rounded-circle {
	border-radius: 50%;
}

.#{$pf}rounded {
	border-radius: $rounded;
}

// border-radius
@each $var in $rounded_list {
	.#{$pf}rounded#{$var} {
		border-radius: #{$var}px !important;
	}
}