// (c) Berry - CSS Utilities, http://maxsite.org/berry

.#{$pf}visibility-hidden  { visibility: hidden; }
.#{$pf}visibility-visible { visibility: visible; }

.#{$pf}overflow-hidden { overflow: hidden; }

// .hide-XXX
@each $postfix, $m in $hide_media_list {
    @media #{$m} {
        .#{$pf}hide-#{$postfix} {
            display: none !important;
        }
    }
}
