// (c) Berry - CSS Utilities, http://maxsite.org/berry

// max size layout
.#{$pf}w-max-layout {
    width: 100%;
    max-width: $layout_max_width;
}

.#{$pf}w100-max { max-width: 100%; }
.#{$pf}w-hide   { display: none; }
.#{$pf}w-auto   { width: auto; }


@each $var in $width_list_px {
    .#{$pf}w#{$var}px { width: #{$var}px; }
    .#{$pf}w#{$var}px-min { min-width: #{$var}px; }
    .#{$pf}w#{$var}px-max { max-width: #{$var}px; }
}

@each $var in $width_list_percent {
    .#{$pf}w#{$var} { width: unquote($var + "%"); }
    .#{$pf}w#{$var}-min { min-width: unquote($var + "%"); }
    .#{$pf}w#{$var}-max { max-width: unquote($var + "%"); }
}


// for @media
@each $postfix, $m in $screen_media_width_list {
    @media #{$m} {
        .#{$pf}w-hide-#{$postfix} { display: none; }
        .#{$pf}w-auto-#{$postfix} { width: auto; }
        .#{$pf}w100-max-#{$postfix} { max-width: 100%; }
        .#{$pf}w0-min-#{$postfix} { min-width: 0; }

        @each $var in $width_list_percent {
            .#{$pf}w#{$var}-#{$postfix}  { width: unquote($var + "%"); }
        }
    }
}
