// Variables for colors google material design
// unicss/colors-gmd.html
// http://www.google.com/design/spec/style/color.html#color-color-palette

// Red
$g_red:     #f44336;
$g_red50:   #ffebee;
$g_red100:  #ffcdd2;
$g_red200:  #ef9a9a;
$g_red300:  #e57373;
$g_red400:  #ef5350;
$g_red500:  #f44336;
$g_red600:  #e53935;
$g_red700:  #d32f2f;
$g_red800:  #c62828;
$g_red900:  #b71c1c;
$g_redA100: #ff8a80;
$g_redA200: #ff5252;
$g_redA400: #ff1744;
$g_redA700: #d50000;

// Pink
$g_pink:     #e91e63;
$g_pink50:   #fce4ec;
$g_pink100:  #f8bbd0;
$g_pink200:  #f48fb1;
$g_pink300:  #f06292;
$g_pink400:  #ec407a;
$g_pink500:  #e91e63;
$g_pink600:  #d81b60;
$g_pink700:  #c2185b;
$g_pink800:  #ad1457;
$g_pink900:  #880e4f;
$g_pinkA100: #ff80ab;
$g_pinkA200: #ff4081;
$g_pinkA400: #f50057;
$g_pinkA700: #c51162;

// Purple
$g_purple:     #9c27b0;
$g_purple50:   #f3e5f5;
$g_purple100:  #e1bee7;
$g_purple200:  #ce93d8;
$g_purple300:  #ba68c8;
$g_purple400:  #ab47bc;
$g_purple500:  #9c27b0;
$g_purple600:  #8e24aa;
$g_purple700:  #7b1fa2;
$g_purple800:  #6a1b9a;
$g_purple900:  #4a148c;
$g_purpleA100: #ea80fc;
$g_purpleA200: #e040fb;
$g_purpleA400: #d500f9;
$g_purpleA700: #aa00ff;

// Deep Purple
$g_deep_purple:     #673ab7;
$g_deep_purple50:   #ede7f6;
$g_deep_purple100:  #d1c4e9;
$g_deep_purple200:  #b39ddb;
$g_deep_purple300:  #9575cd;
$g_deep_purple400:  #7e57c2;
$g_deep_purple500:  #673ab7;
$g_deep_purple600:  #5e35b1;
$g_deep_purple700:  #512da8;
$g_deep_purple800:  #4527a0;
$g_deep_purple900:  #311b92;
$g_deep_purpleA100: #b388ff;
$g_deep_purpleA200: #7c4dff;
$g_deep_purpleA400: #651fff;
$g_deep_purpleA700: #6200ea;

// Indigo
$g_indigo:     #3f51b5;
$g_indigo50:   #e8eaf6;
$g_indigo100:  #c5cae9;
$g_indigo200:  #9fa8da;
$g_indigo300:  #7986cb;
$g_indigo400:  #5c6bc0;
$g_indigo500:  #3f51b5;
$g_indigo600:  #3949ab;
$g_indigo700:  #303f9f;
$g_indigo800:  #283593;
$g_indigo900:  #1a237e;
$g_indigoA100: #8c9eff;
$g_indigoA200: #536dfe;
$g_indigoA400: #3d5afe;
$g_indigoA700: #304ffe;

// Blue 
$g_blue:     #2196f3;
$g_blue50:   #e3f2fd;
$g_blue100:  #bbdefb;
$g_blue200:  #90caf9;
$g_blue300:  #64b5f6;
$g_blue400:  #42a5f5;
$g_blue500:  #2196f3;
$g_blue600:  #1e88e5;
$g_blue700:  #1976d2;
$g_blue800:  #1565c0;
$g_blue900:  #0d47a1;
$g_blueA100: #82b1ff;
$g_blueA200: #448aff;
$g_blueA400: #2979ff;
$g_blueA700: #2962ff;

// Light Blue
$g_light_blue:     #03a9f4;
$g_light_blue50:   #e1f5fe;
$g_light_blue100:  #b3e5fc;
$g_light_blue200:  #81d4fa;
$g_light_blue300:  #4fc3f7;
$g_light_blue400:  #29b6f6;
$g_light_blue500:  #03a9f4;
$g_light_blue600:  #039be5;
$g_light_blue700:  #0288d1;
$g_light_blue800:  #0277bd;
$g_light_blue900:  #01579b;
$g_light_blueA100: #80d8ff;
$g_light_blueA200: #40c4ff;
$g_light_blueA400: #00b0ff;
$g_light_blueA700: #0091ea;

// Cyan
$g_cyan:     #00bcd4;
$g_cyan50:   #e0f7fa;
$g_cyan100:  #b2ebf2;
$g_cyan200:  #80deea;
$g_cyan300:  #4dd0e1;
$g_cyan400:  #26c6da;
$g_cyan500:  #00bcd4;
$g_cyan600:  #00acc1;
$g_cyan700:  #0097a7;
$g_cyan800:  #00838f;
$g_cyan900:  #006064;
$g_cyanA100: #84ffff;
$g_cyanA200: #18ffff;
$g_cyanA400: #00e5ff;
$g_cyanA700: #00b8d4;

// Teal
$g_teal:     #009688;
$g_teal50:   #e0f2f1;
$g_teal100:  #b2dfdb;
$g_teal200:  #80cbc4;
$g_teal300:  #4db6ac;
$g_teal400:  #26a69a;
$g_teal500:  #009688;
$g_teal600:  #00897b;
$g_teal700:  #00796b;
$g_teal800:  #00695c;
$g_teal900:  #004d40;
$g_tealA100: #a7ffeb;
$g_tealA200: #64ffda;
$g_tealA400: #1de9b6;
$g_tealA700: #00bfa5;

// Green
$g_green:     #4caf50;
$g_green50:   #e8f5e9;
$g_green100:  #c8e6c9;
$g_green200:  #a5d6a7;
$g_green300:  #81c784;
$g_green400:  #66bb6a;
$g_green500:  #4caf50;
$g_green600:  #43a047;
$g_green700:  #388e3c;
$g_green800:  #2e7d32;
$g_green900:  #1b5e20;
$g_greenA100: #b9f6ca;
$g_greenA200: #69f0ae;
$g_greenA400: #00e676;
$g_greenA700: #00c853;

// Light Green
$g_light_green:     #8bc34a;
$g_light_green50:   #f1f8e9;
$g_light_green100:  #dcedc8;
$g_light_green200:  #c5e1a5;
$g_light_green300:  #aed581;
$g_light_green400:  #9ccc65;
$g_light_green500:  #8bc34a;
$g_light_green600:  #7cb342;
$g_light_green700:  #689f38;
$g_light_green800:  #558b2f;
$g_light_green900:  #33691e;
$g_light_greenA100: #ccff90;
$g_light_greenA200: #b2ff59;
$g_light_greenA400: #76ff03;
$g_light_greenA700: #64dd17;

// Lime
$g_lime:     #cddc39;
$g_lime50:   #f9fbe7;
$g_lime100:  #f0f4c3;
$g_lime200:  #e6ee9c;
$g_lime300:  #dce775;
$g_lime400:  #d4e157;
$g_lime500:  #cddc39;
$g_lime600:  #c0ca33;
$g_lime700:  #afb42b;
$g_lime800:  #9e9d24;
$g_lime900:  #827717;
$g_limeA100: #f4ff81;
$g_limeA200: #eeff41;
$g_limeA400: #c6ff00;
$g_limeA700: #aeea00;

// Yellow
$g_yellow:     #ffeb3b;
$g_yellow50:   #fffde7;
$g_yellow100:  #fff9c4;
$g_yellow200:  #fff59d;
$g_yellow300:  #fff176;
$g_yellow400:  #ffee58;
$g_yellow500:  #ffeb3b;
$g_yellow600:  #fdd835;
$g_yellow700:  #fbc02d;
$g_yellow800:  #f9a825;
$g_yellow900:  #f57f17;
$g_yellowA100: #ffff8d;
$g_yellowA200: #ffff00;
$g_yellowA400: #ffea00;
$g_yellowA700: #ffd600;

// Amber
$g_amber:     #ffc107;
$g_amber50:   #fff8e1;
$g_amber100:  #ffecb3;
$g_amber200:  #ffe082;
$g_amber300:  #ffd54f;
$g_amber400:  #ffca28;
$g_amber500:  #ffc107;
$g_amber600:  #ffb300;
$g_amber700:  #ffa000;
$g_amber800:  #ff8f00;
$g_amber900:  #ff6f00;
$g_amberA100: #ffe57f;
$g_amberA200: #ffd740;
$g_amberA400: #ffc400;
$g_amberA700: #ffab00;

// Orange
$g_orange:     #ff9800;
$g_orange50:   #fff3e0;
$g_orange100:  #ffe0b2;
$g_orange200:  #ffcc80;
$g_orange300:  #ffb74d;
$g_orange400:  #ffa726;
$g_orange500:  #ff9800;
$g_orange600:  #fb8c00;
$g_orange700:  #f57c00;
$g_orange800:  #ef6c00;
$g_orange900:  #e65100;
$g_orangeA100: #ffd180;
$g_orangeA200: #ffab40;
$g_orangeA400: #ff9100;
$g_orangeA700: #ff6d00;

// Deep Orange
$g_deep_orange:     #ff5722;
$g_deep_orange50:   #fbe9e7;
$g_deep_orange100:  #ffccbc;
$g_deep_orange200:  #ffab91;
$g_deep_orange300:  #ff8a65;
$g_deep_orange400:  #ff7043;
$g_deep_orange500:  #ff5722;
$g_deep_orange600:  #f4511e;
$g_deep_orange700:  #e64a19;
$g_deep_orange800:  #d84315;
$g_deep_orange900:  #bf360c;
$g_deep_orangeA100: #ff9e80;
$g_deep_orangeA200: #ff6e40;
$g_deep_orangeA400: #ff3d00;
$g_deep_orangeA700: #dd2c00;

// Brown
$g_brown:    #795548;
$g_brown50:  #efebe9;
$g_brown100: #d7ccc8;
$g_brown200: #bcaaa4;
$g_brown300: #a1887f;
$g_brown400: #8d6e63;
$g_brown500: #795548;
$g_brown600: #6d4c41;
$g_brown700: #5d4037;
$g_brown800: #4e342e;
$g_brown900: #3e2723;

// Gray
$g_gray:    #9e9e9e;
$g_gray50:  #fafafa;
$g_gray100: #f5f5f5;
$g_gray200: #eeeeee;
$g_gray300: #e0e0e0;
$g_gray400: #bdbdbd;
$g_gray500: #9e9e9e;
$g_gray600: #757575;
$g_gray700: #616161;
$g_gray800: #424242;
$g_gray900: #212121;

// Blue Gray
$g_blue_gray:    #607d8b;
$g_blue_gray50:  #eceff1;
$g_blue_gray100: #cfd8dc;
$g_blue_gray200: #b0bec5;
$g_blue_gray300: #90a4ae;
$g_blue_gray400: #78909c;
$g_blue_gray500: #607d8b;
$g_blue_gray600: #546e7a;
$g_blue_gray700: #455a64;
$g_blue_gray800: #37474f;
$g_blue_gray900: #263238;

// Black & White
$g_black: #000000;
$g_white: #ffffff;
