// extension UniCSS


@media #{$SCREEN_TABLET}  {
	
	.h100px-tablet {
		height: 100px;
	}
	
	.h200px-tablet {
		height: 200px;
	}
	
	.h300px-tablet {
		height: 300px;
	}
	
	.h400px-tablet {
		height: 400px;
	}
	
	.h500px-tablet {
		height: 500px;
	}
	
	.h600px-tablet {
		height: 600px;
	}
	
}


@media #{$SCREEN_PHONE}  {
	
	.h100px-phone {
		height: 100px;
	}
	
	.h200px-phone {
		height: 200px;
	}
	
	.h300px-phone {
		height: 300px;
	}
	
	.h400px-phone {
		height: 400px;
	}
	
	.h500px-phone {
		height: 500px;
	}
	
	.h600px-phone {
		height: 600px;
	}
	
}
