// Images

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	
	&.circle {
		border-radius: 50%;
	}
	
	&.thumbnail {
		border: #DDDDDD 1px solid;
		padding: 4px;
	}
		
	&.left {
		float: left; 
		margin: 5px 20px 5px 0;
	}
	
	&.right {
		float: right; 
		margin: 5px 0 5px 20px;
	}
	
	&.center {
		margin: 0 auto; 
		display: block;
	}
	
	&.baseline {
		vertical-align: baseline;
	}
}
