// lists

ul {
	
	li {
		line-height: 1.6;
	}

	// без булечки
	&.no-bullet {
		list-style: none;
	}
	
	// без булечки со сдвигом вправо
	&.list {
		list-style: none;
		margin: 0 0 0 30px;
		padding-left: 0;
	}
	
	// без булечки и без отступов
	&.out-list {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	
	&.inline li {
		display: inline-block;
	}
	
	&.no-margin {
		padding-left: 13px;
	}
	
	&.square {
		list-style-type: square;
	}
	
	&.disc {
		list-style-type: disc;
	}
	
	&.circle {
		list-style-type: circle;
	}
}

// определения
dl {
	dt {
		font-weight: bold;
	}
	
	dd {
	
	}
}
