// (c) UniCSS, http://unicss.maxsite.com.ua/

// Main variables

// max layout
$layout_max_width: 1100px;

// max layout for other size: .layout-center-small .layout-center-wrap-tablet
$layout_max_width_step_list: (
	// "small":   480px,
	// "phone":   640px,
	// "tablet":  768px
);

// width max-width (.w70px .w300px-max .w50px-min)
$width_list_px: 10, 16, 24, 30, 32, 48, 50, 64, 70, 100, 200, 250, 300, 340, 400, 480, 500, 600, 700, 768, 800, 900, 992;

// width % .w50 .w30-tablet
$width_list_percent: 0, 100, 1, 2, 5, 10, 15, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 85, 90;

// heights PX height and min-height (.h32px .h100px-min .h24px-max)
$height_list: 10, 16, 20, 24, 30, 32, 35, 48, 50, 64, 70, 100, 200, 300, 400, 500;

// padding px (.pad5)
$padding_list: 0, 5, 6, 7, 10, 15, 20, 25, 30, 40, 50;

// margin px (.mar5)
$margin_list: 0, 5, 6, 7, 10, 15, 20, 25, 30, 40, 50;

// set padding and margin as !important
$padding_margin_important: true;

// z-index (.z-index99)
$zindex_list: 1, 9, 99, 999, 9999;

// text size REM (.t80, .t200)
$text_rem: .8, .85, .9, .95, 1, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9, 4, 4.5, 5;

// text REM for @media (.t80-tablet, .t200-phone)
$text_rem_screen: .8,  .9, 1, 1.1, 1.2, 1.3, 1.5, 2, 3, 4, 5;

// text size EM (.t80em, .t200em)
$text_em: .8, .9, 1, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9, 4, 4.5, 5;

// text size PX (.t8px, .t20px)
$text_px: 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 24, 26, 28, 30, 32, 48, 64;

// border-width (.bor1, .bor2) 
$border_list: 1, 2, 3, 4, 5, 6, 7, 8, 9;

// borders type line (.bor-solid  .bor-dotted-rl)
$border_type_list: solid, dotted, dashed, double;

// position (.pos-top10, .pos10-r, .pos10-b, .pos10px-l)
$position_list: 0, 10;

// .rounded10 {border-radius: 10px;}
$rounded_list: 0, 5, 10;

// icons
$icon_size: 32px;
$icon_size_small: 16px;
$icon_size_medium: 24px;
$icon_size_large: 48px;
$icon_right_margin: 7px;

// @media

//      480     640      768      1024       1100
// SMALL   PHONE   TABLET   MEDIUM    DESKTOP    LARGE

$SCREEN_SMALL:   "(max-width: 480px)";
$SCREEN_PHONE:   "(max-width: 640px)";
$SCREEN_TABLET:  "(max-width: 768px)";
$SCREEN_MEDIUM:  "(max-width: 1024px)";
$SCREEN_DESKTOP: "(max-width: 1100px)";
$SCREEN_LARGE:   "(min-width: 1101px)";


// Screen @media: From large to small !!!
// .w30-tablet
$screen_media_width_step_list: (
	// "large":   $SCREEN_LARGE,
	// "desktop": $SCREEN_DESKTOP,
	// "medium":  $SCREEN_MEDIUM,
	"tablet":  $SCREEN_TABLET, 
	"phone":   $SCREEN_PHONE,
	// "small":   $SCREEN_SMALL
);

// .flex-wrap-tablet
$screen_media_flex_step_list: (
	"tablet": $SCREEN_TABLET, 
	// "tablet-phone": $SCREEN_TABLET, 
	"phone":  $SCREEN_PHONE,
);

// .t-right-phone . t120-tablet
$screen_media_text_step_list: (
	// "tablet": 		$SCREEN_TABLET, 
	"phone": 		$SCREEN_PHONE,
);


// colors (colors-gmd.scss) 
$colorLink: 	 #861717; // ссылка
$colorLinkHover: #D90000; // ссылка при наведении

$color1: 	#861717; // 
$colorA1: 	lighten($color1, 50%); // 

$color2: 	#353535; //  подвал (footer-cols1.php) + иконка вверх
$colorA2: 	darken($color2, 15%); // подвал  + иконка вверх при наведении

$color3: 	$g_light_green500;
$colorA3: 	$g_light_greenA200;

$color4: 	#861717; // копка: фон (при наведении темнеет на 10%)
$colorA4: 	#ffffff; // кнопка: текст

$color5: 	#353535; // основной цвет меню см. _menu.scss
$colorA5: 	#861717; // фон пункта меню при наведении - основной красный цвет

$white:    	#FFFFFF;
$black:    	#000000;
$red:      	#861717; 
$green:     #21BA45;
$blue:      #2185D0;
$yellow:	#FBBD08;
$orange: 	#F2711C;
$olive: 	#B5CC18;
$teal: 		#00B5AD;
$violet: 	#6435C9;
$purple: 	#A333C8;
$pink: 		#E03997;
$brown: 	#A5673F;

$gray:       $g_gray;
$gray50:     $g_gray50;
$gray100:    $g_gray100;
$gray200:    $g_gray200;
$gray300:    $g_gray300;
$gray400:    $g_gray400;
$gray500:    $g_gray500;
$gray600:    $g_gray600;
$gray700:    $g_gray700;
$gray800:    $g_gray800;
$gray900:    #111111;

// .t-red | .bg-red | .hover-t-red:hover 
// .hover-bg-red:hover 
$color_base_list: (
	"color1":  $color1, 
	"color2":  $color2, 
	"color3":  $color3, 
	"color4":  $color4, 
	"color5":  $color5, 
	"colorA1": $colorA1, 
	"colorA2": $colorA2, 
	"colorA3": $colorA3, 
	"colorA4": $colorA4, 
	"colorA5": $colorA5, 
	"gray":    $gray, 
	"gray50":  $gray50, 
	"gray100": $gray100, 
	"gray200": $gray200, 
	"gray300": $gray300, 
	"gray400": $gray400, 
	"gray500": $gray500, 
	"gray600": $gray600, 
	"gray700": $gray700, 
	"gray800": $gray800, 
	"gray900": $gray900, 
	"white":   $white, 
	"black":   $black, 
	"red":     $red, 
	"green":   $green, 
	"blue":    $blue, 
	"yellow":  $yellow, 
	"orange":  $orange, 
	"olive":   $olive, 
	"teal":    $teal, 
	"violet":  $violet, 
	"purple":  $purple, 
	"pink":    $pink, 
	"brown":   $brown
);

// colors step list for $color_step_list 50, 100..900
$colors_state_step_list: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;

// colors step gradients 50, 100..900
$color_step_list: (
	"red":     $red, 
	"green":   $green, 
	"blue":    $blue, 
	"yellow":  $yellow, 
	"orange":  $orange, 
	"olive":   $olive, 
	"teal":    $teal, 
	"violet":  $violet, 
	"purple":  $purple, 
	"pink":    $pink, 
	"brown":   $brown
);

// .links-hover-bg-red a:hover  .links-hover-t-red a:hover
$color_links_hover_list: (
	"color1":  $color1, 
	"color2":  $color2, 
	"color3":  $color3, 
	"color4":  $color4, 
	"color5":  $color5, 
	"colorA1": $colorA1, 
	"colorA2": $colorA2, 
	"colorA3": $colorA3, 
	"colorA4": $colorA4, 
	"colorA5": $colorA5, 
	"gray":    $gray, 
	"gray50":  $gray50, 
	"gray100": $gray100, 
	"gray200": $gray200, 
	"gray300": $gray300, 
	"gray400": $gray400, 
	"gray500": $gray500, 
	"gray600": $gray600, 
	"gray700": $gray700, 
	"gray800": $gray800, 
	"gray900": $gray900, 
	"white":   $white, 
	"black":   $black, 
	"red":     $red, 
	"green":   $green, 
	"blue":    $blue, 
	"yellow":  $yellow, 
	"orange":  $orange, 
	"olive":   $olive, 
	"teal":    $teal, 
	"violet":  $violet, 
	"purple":  $purple, 
	"pink":    $pink, 
	"brown":   $brown
);

// borders: .bor-colorA1 .hover-bor-blue
$border_list_color: (
	"color1":  $color1, 
	"color2":  $color2, 
	"color3":  $color3, 
	"color4":  $color4, 
	"color5":  $color5, 
	"colorA1": $colorA1, 
	"colorA2": $colorA2, 
	"colorA3": $colorA3, 
	"colorA4": $colorA4, 
	"colorA5": $colorA5, 
	"gray":    $gray, 
	"gray50":  $gray50, 
	"gray100": $gray100, 
	"gray200": $gray200, 
	"gray300": $gray300, 
	"gray400": $gray400, 
	"gray500": $gray500, 
	"gray600": $gray600, 
	"gray700": $gray700, 
	"gray800": $gray800, 
	"gray900": $gray900, 
	"white":   $white, 
	"black":   $black, 
	"red":     $red, 
	"green":   $green, 
	"blue":    $blue, 
	"yellow":  $yellow, 
	"orange":  $orange, 
	"olive":   $olive, 
	"teal":    $teal, 
	"violet":  $violet, 
	"purple":  $purple, 
	"pink":    $pink, 
	"brown":   $brown
);
