// (c) UniCSS, http://unicss.maxsite.com.ua/

.bordered { border: $gray 1px solid; }

// default = 1px
[class*="bor-"] {
	border-width: 1px;
}

.bor-none   { border-style: none !important; }
.bor-none-t { border-top-style: none !important; }
.bor-none-r { border-right-style: none !important; }
.bor-none-b { border-bottom-style: none !important; }
.bor-none-l { border-left-style: none !important; }

// style line
@each $var in $border_type_list {
	.bor-#{$var}    { border-style: $var; }
	.bor-#{$var}-t  { border-top-style: $var; }
	.bor-#{$var}-r  { border-right-style: $var; }
	.bor-#{$var}-b  { border-bottom-style: $var; }
	.bor-#{$var}-l  { border-left-style: $var; }
	.bor-#{$var}-tb { border-top-style: $var; border-bottom-style: $var; }
	.bor-#{$var}-rl { border-right-style: $var; border-left-style: $var; }
}

// color border
@each $name, $color in $border_list_color {
	.bor-#{$name}, 
	.hover-bor-#{$name}:hover { 
		border-color: $color;
	}
}

// width
@each $var in $border_list {
	.bor#{$var} {
		border-width: #{$var}px;
	}
}
