// (c) UniCSS, http://unicss.maxsite.com.ua/

@media #{$SCREEN_DESKTOP} {
	.visible-desktop, 
	.visible-desktop-tablet { 
		display: block !important; 
	}

	.visible-tablet,
	.visible-phone,
	.visible-tablet-phone, 
	.hide-desktop,
	.hide-desktop-tablet { 
		display: none !important; 
	}
}

@media #{$SCREEN_TABLET} {
	.visible-tablet,
	.visible-tablet-phone,
	.visible-desktop-tablet  { 
		display: block !important; 
	}
	
	.visible-desktop,
	.visible-phone,
	.hide-tablet,
	.hide-tablet-phone { 
		display: none !important; 
	}
}

@media #{$SCREEN_PHONE} {
	.visible-phone,
	.visible-tablet-phone { 
		display: block !important; 
	}
	
	.visible-desktop,
	.visible-desktop-tablet,
	.visible-tablet,
	.hide-phone,
	.hide-tablet-phone {
		display: none !important; 
	}
}

.visible-small, 
.visible-medium,
.visible-large { 
	display: block !important; 
}

.hide-small,
.hide-medium,
.hide-large { 
	display: none !important; 
}

@media #{$SCREEN_SMALL} {
	.visible-small { display: block !important; }
	.hide-small { display: none !important; }
}

@media #{$SCREEN_MEDIUM} {
	.visible-medium { display: block !important; }
	.hide-medium { display: none !important; }
}

@media #{$SCREEN_LARGE} {
	.visible-large { display: block !important; }
	.hide-large { display: none !important; }
}
