// Form elements

// placeholder color
$placeholder_color: #777777;

textarea {
	overflow: auto;
}

legend {
	padding: 0 5px;
}

label {
	cursor : pointer;
	display: inline;
}

input,
textarea {
	&:-moz-placeholder {
		color: $placeholder_color;
	}

	&::-moz-placeholder {
		color: $placeholder_color;
	}

	&:-ms-input-placeholder {
		color: $placeholder_color;
	}

	&::-webkit-input-placeholder {
		color: $placeholder_color;
	}

	font: inherit;
}

fieldset {
	border-radius: 3px;
	padding      : 10px 20px;
}

textarea {
	font-family: PT Mono, Monaco, Menlo, Consolas, Courier New, monospace;
}

input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
	width: auto !important;
}
