// Icons

.icon0:before {
	margin-right: 0 !important;
}

.icon-circle,
.icon-square,
.icon-rounded
{
	line-height: 2; 
	width: 2em;
	height: 2em;
	display: inline-block;
	text-align: center;
	
	&:before {
		margin: 0 !important;
	}
}

.icon-circle {
	border-radius: 50%;
}

.icon-rounded {
	border-radius: 5px;
}
