// MaxSite CMS 
// Copyright http://max-3000.com/

div.calendar {
	table {
		width: 100%;
	}
	
	td {
		border: 1px solid white; 
		text-align: center; 
		padding: 1px; 
		font-size: 8pt;
	}
	
	tr.week td {
		background: #D5D5E1;
	}
	
	div.today {
		background: #8591B7;
	}
	
	div.today-content {
		background: #8591B7;
	}
	
	td a {
		text-decoration: underline;
	}
}
