// MaxSite CMS 
// Copyright http://max-3000.com/

div.pagination2 {
	margin: 25px 0 10px 0; 
	font-size: .9em;
	
	a {
		text-decoration: none;
	}
	
	span.new {
		display: inline-block;
		float: left;
	}
	
	span.old {
		display: inline-block;
		float: right;
	}
	
}
