// поиск в шапке
.my-search {
	border: none !important;
	display: none;
	border-radius: 0 !important;
	padding: 5px 6px !important;
	
	&:focus {
		color: #808080 !important;
		box-shadow: none;
	}
}
