body {
	background: #D4DEEA;
	_background-image: linear-gradient(to bottom, #32567a 0%, #a9b4bf 100%);

}

a {
	color: #32567A;
}

div.menu-search {
	background: #32567a;
}

div.menu-search ul.menu > li a:hover {
    color: #fff;
    background-color: #38638F;
}

div.menu-search ul.menu li.selected a {
	background-color: #355e88;
	color: #fff;
}


label.label-search {
	background-color: #2d4054;
} 

input.my-search, 
input.my-search:focus {
	color: #fff !important;
	background-color: #2d4054 !important;
}

div.menu-icons {
	background: #103663;
}

ul.menu2 li.selected a,
ul.menu2 li.selected a:hover,
ul.menu2 > li a:hover {
    background-color: #144279;
    color: #fff;
}

div.footer {
	background-color: #32567a;
}

div.pagination strong {
    background: #32567a;
}

