// (c) Berry CSS, https://maxsite.org/berry

// line-height .lh130

@forward '../../config/utilities';
@use 'default' as *;
@use "sass:map";

@if map.get($modules, 'line-height') {

    @each $var in $text_lh {
        $var1: round($var * 100);

        .#{$pf}lh#{$var1} {
            line-height: #{$var};
        }
    }

    @each $var in $text_lh_em {
        $var1: round($var * 100);

        .#{$pf}lh#{$var1}em {
            line-height: #{$var}em;
        }
    }
}