html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
body{font-family:Verdana,Arial,sans-serif;font-size:10pt;background:#E0E0E0;}
body,div,ul,ol,li,td,p,blockquote,code,pre,h1,h2,h3,h4,h5,h6{line-height:1.4em;}
p,pre,blockquote,ul,ol,table,dl{margin:4px 0 7px 0;}
ol,ul{margin-left:15px;}
sup,sub{vertical-align:baseline;position:relative;font-size:.8em;}
sup{top:-0.4em;}
sub{bottom:-0.3em;}
small{font-size:.8em;}
strong,b{font-weight:bold;}
em,i{font-style:italic;}
hr{color:#CCC;background-color:#CCC;height:1px;border-width:0;}
table{width:100%;}table th,table td{border:1px solid #CCC;padding:2px 3px;vertical-align:top;}
table th{background:#EEE;font-weight:bold;}
table.no-border,table.no-border td{border:none;padding:0;}
table.zebra tr:nth-child(odd) td,table.zebra tr:nth-child(odd) th{background-color:#f0f0f0;}
table.zebra tr:hover td,table.zebra tr:hover th{background-color:#f6f6f6;}
dt{font-weight:bold;}
dd{margin-left:15px;}
pre{background:#F4F4F4;border:1px solid #CCC;padding:7px;display:block;overflow:auto;font-family:"Courier New",monospace;line-height:1.5em;}
code{background:#F4F4F4;border:1px solid #CCC;padding:0 5px;}
blockquote{padding:0 4px 0 20px;margin:10px 0;border-left:4px solid #DDD;color:#444;}blockquote cite{color:#888;display:inline-block;margin-top:10px;}
abbr,acronym{cursor:help;border-bottom:1px dashed #000;}
img{vertical-align:middle;}
.break{clear:both;}
.clearfix:after{content:'.';display:block;clear:both;visibility:hidden;height:0;line-height:0;}
label{cursor:pointer;}
fieldset{padding:5px 10px;margin:5px 0;border:#cccccc 1px solid;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
legend{padding:0 5px;}
input,select,button{vertical-align:middle;}
textarea{overflow:auto;}
input[type="radio"],input[type="checkbox"]{margin:0;padding:0;position:relative;top:1px;cursor:pointer;vertical-align:baseline;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,button::-webkit-input-placeholder{color:#999;}
input:-moz-placeholder,textarea:-moz-placeholder,button:-moz-placeholder{color:#999;}
form.fform p{display:table;width:100%;padding:3px 0;margin:0;}form.fform p span,form.fform p label{display:table-cell;vertical-align:middle;}form.fform p span input[type="text"],form.fform p label input[type="text"],form.fform p span input[type="email"],form.fform p label input[type="email"],form.fform p span input[type="password"],form.fform p label input[type="password"],form.fform p span input[type="url"],form.fform p label input[type="url"],form.fform p span input[type="search"],form.fform p label input[type="search"],form.fform p span input[type="number"],form.fform p label input[type="number"],form.fform p span textarea,form.fform p label textarea,form.fform p span select,form.fform p label select{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;*width:auto;}
form.fform p span.ftitle,form.fform p label.ftitle{text-align:right;padding-right:5px;}
form.fform p span.ffirst,form.fform p label.ffirst{width:90px;}
form.fform p span.ffirst.ftitle,form.fform p label.ffirst.ftitle{width:85px;}
form.fform p span.fbutton,form.fform p label.fbutton{width:50px;}form.fform p span.fbutton button,form.fform p label.fbutton button,form.fform p span.fbutton input,form.fform p label.fbutton input{min-width:50px;}
form.fform p span.fsubmit,form.fform p label.fsubmit{text-align:right;width:100px;}form.fform p span.fsubmit button,form.fform p label.fsubmit button,form.fform p span.fsubmit input,form.fform p label.fsubmit input{width:95px;}
form.fform p span.ftop,form.fform p label.ftop{vertical-align:top;}
form.fform p span.fcenter,form.fform p label.fcenter{text-align:center;}
form.fform p span.fempty,form.fform p label.fempty{width:5px;}
form.fform p span.fhint,form.fform p label.fhint{font-size:.9em;font-style:italic;color:#606060;padding-top:0;padding-bottom:5px;}
form.fform p span.fheader,form.fform p label.fheader{font-weight:bold;}
form.fform p span.nocell,form.fform p label.nocell{display:inline;width:auto;padding:0;}
form.fform p label.fwrap{display:table;width:100%;}
form.fform p.nop{padding-top:0;}
form.fform p.hr{margin-top:10px;}
.message{border:1px solid #DBDBDB;margin:4px 0 7px 0;padding:10px 10px 10px 70px;min-height:48px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}.message.note{background:#dae8ee url("../images/icons/note.png") no-repeat 10px 10px;border-color:#91A0A6;color:black;}.message.note.small{background-image:url("../images/icons/small/note.png");}
.message.alert{background:#ffe8bf url("../images/icons/alert.png") no-repeat 10px 10px;border-color:#DECAA5;color:maroon;}.message.alert.small{background-image:url("../images/icons/small/alert.png");}
.message.idea{background:#faf6ac url("../images/icons/idea.png") no-repeat 10px 10px;border-color:#D5D18C;color:maroon;}.message.idea.small{background-image:url("../images/icons/small/idea.png");border-color:#D5D18C;color:maroon;}
.message.error{background:#fb6c6c url("../images/icons/error.png") no-repeat 10px 10px;border-color:#CA5A5A;color:white;}.message.error.small{background-image:url("../images/icons/small/error.png");}
.message.ok{background:#7fff91 url("../images/icons/ok.png") no-repeat 10px 10px;border-color:#68CD76;color:#006600;}.message.ok.small{background-image:url("../images/icons/small/ok.png");}
.message.about{background:#a6d2ff url("../images/icons/about.png") no-repeat 10px 10px;border-color:#8FB3D8;color:navy;}.message.about.small{background-image:url("../images/icons/small/about.png");}
.message.mail{background:#eaeaea url("../images/icons/mail.png") no-repeat 10px 10px;color:#404040;}.message.mail.small{background-image:url("../images/icons/small/mail.png");}
.message.home{background:#eaeaea url("../images/icons/home.png") no-repeat 10px 10px;color:#404040;}.message.home.small{background-image:url("../images/icons/small/home.png");}
.message.question{background:#eaeaea url("../images/icons/question.png") no-repeat 10px 10px;color:#404040;}.message.question.small{background-image:url("../images/icons/small/question.png");}
.message.noicon{background-image:none;padding:10px;min-height:0;}
.message.small{min-height:0;padding:5px 10px 5px 40px;background-position:5px 2px;background-repeat:no-repeat;}
.red{color:red;}
.blue{color:blue;}
.green{color:green;}
.gray{color:gray;}
.black{color:black;}
.white{color:white;}
.yellow{color:yellow;}
.normal{font-weight:normal;font-style:normal;text-decoration:none;}
.bold{font-weight:bold;}
.italic{font-style:italic;}
.underline{text-decoration:underline;}
.overline{text-decoration:overline;}
.strike{text-decoration:line-through;}
.bg-red{background-color:red;}
.bg-blue{background-color:blue;}
.bg-green{background-color:green;}
.bg-gray{background-color:gray;}
.bg-black{background-color:black;}
.bg-white{background-color:white;}
.bg-yellow{background-color:yellow;}
.left{float:left;}
.right{float:right;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-justify{text-align:justify;}
.w100{width:100%;}
.w75{width:75%;}
.w70{width:70%;}
.w60{width:60%;}
.w50{width:50%;}
.w40{width:40%;}
.w33{width:33.33%;}
.w30{width:30%;}
.w25{width:25%;}
.margin0{margin:0;}
.margin5{margin:5px;}
.margin10{margin:10px;}
.margin15{margin:15px;}
.margin20{margin:20px;}
.margin30{margin:30px;}
.margin-center{margin-right:auto;margin-left:auto;}
.margin-top10{margin-top:10px;}
.margin-right10{margin-right:10px;}
.margin-bottom10{margin-bottom:10px;}
.margin-left10{margin-left:10px;}
.margin-tb0{margin-top:0;margin-bottom:0;}
.margin-tb10{margin-top:10px;margin-bottom:10px;}
.margin-lr0{margin-left:0;margin-right:0;}
.margin-lr10{margin-left:10px;margin-right:10px;}
.padding0{padding:0;}
.padding5{padding:5px;}
.padding10{padding:10px;}
.padding15{padding:15px;}
.padding20{padding:20px;}
.padding30{padding:30px;}
.padding-tb0{padding-top:0;padding-bottom:0;}
.padding-lr0{padding-left:0;padding-right:0;}
.d-none{display:none;}
.d-block{display:block;}
.d-inline{display:inline;}
.d-inline-block{display:inline-block;}
.over-hidden{overflow:hidden;}
.radius5{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.radius8{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
.radius10{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
div.no-border-radius,.radius0{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.no-border{border:none!important;}
.box-shadow{box-shadow:0 0 7px #bbbbbb;-o-box-shadow:0 0 7px #bbbbbb;-webkit-box-shadow:0 0 7px #bbbbbb;-moz-box-shadow:0 0 7px #bbbbbb;}
.box-shadow-none{box-shadow:none;-o-box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
.arial{font-family:Arial,Verdana,sans-serif;}
.verdana{font-family:Verdana,Arial,sans-serif;}
.segoe{font-family:"Segoe UI",Verdana,Arial,sans-serif;}
.georgia{font-family:Georgia,"Times New Roman",serif;}
.times{font-family:"Times New Roman",Georgia,serif;}
.courier{font-family:"Courier New",monospace;}
img.smiley{vertical-align:middle;}
img.left{float:left;margin:5px 10px 5px 0;}
img.right{float:right;margin:5px 0 5px 10px;}
img.center{margin:0 auto;display:block;}
img.border{border:1px solid #3D61B6;}
img.gravatar{padding:0 10px 10px 0;background:white;}
button:focus,input:focus,select:focus,textarea:focus{box-shadow:0 0 7px #0066ff;-o-box-shadow:0 0 7px #0066ff;-webkit-box-shadow:0 0 7px #0066ff;-moz-box-shadow:0 0 7px #0066ff;}
input[type="file"]:focus,input[type="file"]:active,input[type="radio"]:focus,input[type="radio"]:active,input[type="checkbox"]:focus,input[type="checkbox"]:active{-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;box-shadow:none;}
button,input[type="reset"],input[type="submit"],input[type="button"]{-webkit-appearance:none;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;-webkit-background-clip:padding;-moz-background-clip:padding;-ms-background-clip:padding-box;-o-background-clip:padding-box;background-clip:padding-box;background:#ddd;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));background-image:-webkit-linear-gradient(#ffffff, #dddddd);background-image:-moz-linear-gradient(#ffffff, #dddddd);background-image:-o-linear-gradient(#ffffff, #dddddd);background-image:-ms-linear-gradient(#ffffff, #dddddd);background-image:linear-gradient(#ffffff, #dddddd);border:1px solid;border-color:#ddd #bbb #999;cursor:pointer;color:#333333;font:bold 12px/1.3 Arial,sans-serif;outline:0;overflow:visible;padding:3px 10px;text-shadow:white 0 1px 1px;}
button:hover,input[type="reset"]:hover,input[type="submit"]:hover,input[type="button"]:hover{background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));background-image:-webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);background-image:-moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);background-image:-o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);background-image:-ms-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);background-image:linear-gradient(#ffffff, #eeeeee 1px, #cccccc);}
button:active,input[type="reset"]:active,input[type="submit"]:active,input[type="button"]:active{background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #dddddd), color-stop(100%, #eeeeee));background-image:-webkit-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);background-image:-moz-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);background-image:-o-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);background-image:-ms-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);background-image:linear-gradient(#ffffff, #dddddd 1px, #eeeeee);-webkit-box-shadow:inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;-moz-box-shadow:inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;-o-box-shadow:inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;box-shadow:inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;border-color:#999 #bbb #ddd;}
@font-face{font-family:'FontAwesome';src:url('stock/font-awesome/fontawesome-webfont.eot');src:url('stock/font-awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),url('stock/font-awesome/fontawesome-webfont.woff') format('woff'),url('stock/font-awesome/fontawesome-webfont.ttf') format('truetype'),url('stock/font-awesome/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'),url('stock/font-awesome/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');font-weight:normal;font-style:normal;}body{background:#F0F0F0;}
a{color:#0063B7;text-decoration:none;}a:hover{text-decoration:underline;color:red;}
p.admin_page_qhint{line-height:1.2em;color:#555;}
h1{font-size:2em;margin:0 0 5px 0;font-weight:normal;line-height:1.2em;color:#395766;}
h2{font-size:1.4em;margin:15px 0 5px 0;font-weight:normal;line-height:1.1em;}h2.br{margin-top:25px;}
h3{font-size:1.2em;margin:15px 0 5px 0;font-weight:bold;}
h4{font-size:1.1em;margin:15px 0 5px 0;font-weight:bold;}
h5{font-size:1.0em;margin:15px 0 5px 0;font-weight:bold;}
h6{font-size:.9em;margin:15px 0 5px 0;font-weight:bold;}
div.admin-header{font-size:12pt;box-shadow:0 3px 3px #888888;-o-box-shadow:0 3px 3px #888888;-webkit-box-shadow:0 3px 3px #888888;-moz-box-shadow:0 3px 3px #888888;background:#395766;color:#dddddd;text-shadow:1px 1px 1px #000000;}div.admin-header div.r{padding:10px 0 10px 10px;margin:0 10px 20px 0;background:url("images/maxsitelogo-blue.png") no-repeat right center;}
div.admin-header h1{font-size:16pt;padding:5px 0 0 0;display:inline;color:#dddddd;}div.admin-header h1:after{content:" → ";}
div.admin-header h1 a{color:#dddddd;}
div.admin-menu{width:190px;float:left;}div.admin-menu div.r{padding-left:10px;}
div.admin-content{margin:0 10px 15px 205px;}div.admin-content div.r{padding:10px 15px 15px 15px;background:white;box-shadow:0px 0px 3px #888888;-o-box-shadow:0px 0px 3px #888888;-webkit-box-shadow:0px 0px 3px #888888;-moz-box-shadow:0px 0px 3px #888888;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
div.admin-footer{clear:both;background:#253842;color:#F0F0F0;text-align:center;font-size:9pt;}div.admin-footer div.r{padding:5px 0;}
div.admin-footer a{color:#F0F0F0;text-decoration:underline;}
ul.admin-menu{list-style:none;margin-left:0;}ul.admin-menu li{line-height:1.5em;}ul.admin-menu li a{display:block;}ul.admin-menu li a:hover{text-decoration:none;}
ul.admin-menu li.admin-menu-top>a{background:#6c8a99;color:#d2f0ff;font-size:12pt;padding:5px 0 5px 5px;margin-bottom:7px;text-shadow:1px 1px 1px #333333;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;box-shadow:0 1px 3px #888888;-o-box-shadow:0 1px 3px #888888;-webkit-box-shadow:0 1px 3px #888888;-moz-box-shadow:0 1px 3px #888888;}ul.admin-menu li.admin-menu-top>a:before{content:"☉ ";}
ul.admin-menu ul.admin-submenu{list-style:none;margin-left:0px;}ul.admin-menu ul.admin-submenu li a{padding:1px 0 1px 7px;}
ul.admin-menu ul.admin-submenu li a:hover{background:#9daeb6;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;color:#395766;}
ul.admin-menu ul.admin-submenu li a:before{font-family:FontAwesome;content:"•";width:20px;display:inline-block;color:#40607C;font-size:1.2em;}
ul.admin-menu ul.admin-submenu li.admin-menu-selected a{color:#395766;background:#bac6cc;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}ul.admin-menu ul.admin-submenu li.admin-menu-selected a:hover{background:#9daeb6;}
ul.admin-menu ul.admin-submenu li.admin-menu-options a:before{content:"\f013";}
ul.admin-menu ul.admin-submenu li.admin-menu-files a:before{content:"\f019";}
ul.admin-menu ul.admin-submenu li.admin-menu-page_new a:before{content:"\f040";}
ul.admin-menu ul.admin-submenu li.admin-menu-page a:before{content:"\f03a";}
ul.admin-menu ul.admin-submenu li.admin-menu-cat a:before{content:"\f02c";}
ul.admin-menu ul.admin-submenu li.admin-menu-home a:before{content:"\f05a";}
ul.admin-menu ul.admin-submenu li.admin-menu-logout a:before{content:"\f08b";}
ul.admin-menu ul.admin-submenu li.admin-menu-go_site a:before{content:"\f064";}
ul.admin-menu ul.admin-submenu li.admin-menu-sidebars a:before{content:"\f01c";}
ul.admin-menu ul.admin-submenu li.admin-menu-plugins a:before{content:"\f06d";}
ul.admin-menu ul.admin-submenu li.admin-menu-template_options a:before{content:"\f009";}
ul.admin-menu ul.admin-submenu li.admin-menu-comments a:before{content:"\f086";}
ul.admin-menu ul.admin-submenu li.admin-menu-comusers a:before{content:"\f007";}
ul.admin-menu ul.admin-submenu li.admin-menu-users_group a:before{content:"\f091";}
ul.admin-menu ul.admin-submenu li.admin-menu-users_my_profile a:before{content:"\f084";}
ul.admin-menu ul.admin-submenu li.admin-menu-users a:before{content:"\f070";}
td.section{background:none !important;padding:0;border:none !important;}td.section h2{background:#395766;color:#EBD4D7;margin:0;padding:0 5px;font-size:11pt;font-weight:bold;height:30px;line-height:30px;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
td.section p{color:#404040;font-style:italic;background:#EEEEEE;margin:0 0 15px 0;padding:5px;}
div.admin-h-menu{padding:5px;margin:0 0 10px 0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#6C8A99;color:#d6dee2;}div.admin-h-menu a{color:#d6dee2;}
div.admin-h-menu a.select{color:#ffffff;font-weight:bold;}
p.nav{color:white;font-size:0;line-height:25px;margin:0;}p.nav a{background:#EEE;padding:5px 5px;margin:0 3px;font-size:10pt;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;white-space:nowrap;}p.nav a:hover{background:#9DAEB6;text-decoration:none;color:#395766;}
p.nav a.current{background:#6C8A99;color:#fff;}p.nav a.current:hover{background:#9DAEB6;}
table.page tr:nth-child(odd) td{background-color:#f0f0f0;}
table.page tr:hover td{background-color:#f6f6f6;}
table.page td{border:none;border-bottom:1px solid #E0E0E0;padding-top:7px;padding-bottom:7px;}
table.page th{background:#BDC8CE;border-color:#F0F0F0;border-top:none;border-bottom:none;padding:7px;text-align:left;}
table.page input[type="text"],table.page input[type="email"],table.page input[type="password"],table.page input[type="url"],table.page input[type="search"],table.page input[type="number"],table.page textarea,table.page select{width:99%;}
table.tablesorter th.header{cursor:pointer;background-image:url(images/tablesorter/bg.gif);background-repeat:no-repeat;background-position:center right;padding-right:20px;}
table.tablesorter th.headerSortUp{background:#a6b3b9 url(images/tablesorter/asc.gif) no-repeat right center;}
table.tablesorter th.headerSortDown{background:#a6b3b9 url(images/tablesorter/desc.gif) no-repeat right center;}
table.new_or_edit td{border:none;}
table.new_or_edit td.editor_and_meta{padding:0 15px 0 0;}table.new_or_edit td.editor_and_meta input.f_header{width:99%;font-size:1.5em;margin:5px 0;padding:3px;background:#F0F0F0;border:#3c769d 1px solid;}
table.new_or_edit td.editor_and_meta div.page_meta h3{margin:25px 0 0 0;}
table.new_or_edit td.editor_and_meta div.page_meta p{margin:0;}
table.new_or_edit td.editor_and_meta div.page_meta div{background:#F0F0F0;padding:5px;margin:10px 0;border:1px #c7c7c7 solid;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}table.new_or_edit td.editor_and_meta div.page_meta div h3{margin:0;font-size:10pt;}
table.new_or_edit td.editor_and_meta div.page_meta input[type="text"],table.new_or_edit td.editor_and_meta div.page_meta input[type="email"],table.new_or_edit td.editor_and_meta div.page_meta input[type="password"],table.new_or_edit td.editor_and_meta div.page_meta input[type="url"],table.new_or_edit td.editor_and_meta div.page_meta input[type="search"],table.new_or_edit td.editor_and_meta div.page_meta input[type="number"],table.new_or_edit td.editor_and_meta div.page_meta textarea,table.new_or_edit td.editor_and_meta div.page_meta select{width:99%;}
table.new_or_edit td.page_info{width:230px;padding:0;font-size:9pt;}table.new_or_edit td.page_info div.block_page{padding:0 5px;margin:0 0 15px 0;background:#F0F0F0;border:1px #738992 solid;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
table.new_or_edit td.page_info h3{margin:0 -5px 5px -5px;font-size:10pt;padding:3px 7px;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;color:#ccd7dc;background:#5a7682;text-shadow:1px 1px 1px #070909;}
table.new_or_edit td.page_info div.cat_page ul{list-style-type:none;margin:0 0 5px 0;}table.new_or_edit td.page_info div.cat_page ul li{margin:5px 5px 0 3px;font-weight:bold;}
table.new_or_edit td.page_info div.cat_page ul li li{font-weight:normal;margin:3px 5px 0 20px;font-size:.9em;}
table.new_or_edit td.page_info div.cat_page ul li label{display:block;margin-left:-3px;padding-left:3px;}
table.new_or_edit td.page_info div.cat_page ul li label:hover{background:#C7C7C7;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
textarea.admin_sidebars{width:99%;}
table.widgets-allow{width:auto;}table.widgets-allow td{border:none;}
div.admin-edit-widgets-form h3{background:#B3C2C9;color:#D2F0FF;margin:5px 0 8px 0;padding:5px 10px;font-size:10pt;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;box-shadow:0 1px 3px #888888;-o-box-shadow:0 1px 3px #888888;-webkit-box-shadow:0 1px 3px #888888;-moz-box-shadow:0 1px 3px #888888;}div.admin-edit-widgets-form h3:before{content:"▶ ";color:#395766;}
div.admin-edit-widgets-form h3 a{color:#41535C;margin-left:5px;}
div.admin-edit-widgets-form p{margin:0;}
div.admin-edit-widgets-form div.admin_widgets{background:#f8f8ff;background-color:#f8f8ff;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#e9e9ff), to(#f8f8ff));background-image:-moz-linear-gradient(top, #e9e9ff, #f8f8ff);background-image:-ms-linear-gradient(top, #e9e9ff, #f8f8ff);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9e9ff), color-stop(100%, #f8f8ff));background-image:-webkit-linear-gradient(top, #e9e9ff, #f8f8ff);background-image:-o-linear-gradient(top, #e9e9ff, #f8f8ff);background-image:linear-gradient(top, #e9e9ff, #f8f8ff);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9ff', endColorstr='#f8f8ff', GradientType=0);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:#b3c2c9 1px solid;padding:15px 5px 15px 5px;margin:-2px 0 10px 0;}div.admin-edit-widgets-form div.admin_widgets div.t150{width:180px;float:left;font-weight:bold;text-align:right;padding-right:5px;}
div.admin-edit-widgets-form div.admin_widgets input[type="text"],div.admin-edit-widgets-form div.admin_widgets input[type="email"],div.admin-edit-widgets-form div.admin_widgets input[type="password"],div.admin-edit-widgets-form div.admin_widgets input[type="url"],div.admin-edit-widgets-form div.admin_widgets input[type="search"],div.admin-edit-widgets-form div.admin_widgets input[type="number"],div.admin-edit-widgets-form div.admin_widgets textarea,div.admin-edit-widgets-form div.admin_widgets select{min-width:600px;}
form.admin_widgets p span.ffirst,form.admin_widgets p label.ffirst{width:200px;}
form.admin_widgets p span.ffirst.ftitle,form.admin_widgets p label.ffirst.ftitle{width:195px;}
form.admin_widgets p span.ftitle,form.admin_widgets p label.ftitle{font-weight:bold;}
form.admin_widgets p span.ftop,form.admin_widgets p label.ftop{padding-top:1px;}
div.float-parent div.cornerz{display:inline-block;vertical-align:top;margin:0 20px 15px 0;min-height:165px;width:200px;text-align:center;}div.float-parent div.cornerz div.wrap{overflow:hidden;}div.float-parent div.cornerz div.wrap label{font-weight:bold;white-space:nowrap;font-size:.8em;}
div.float-parent div.cornerz div.wrap em{font-size:1em;}
div.float-parent div.cornerz div.wrap i.date{display:block;color:gray;}
div.float-parent div.cornerz div.wrap a.lightbox{display:block;margin:5px 0 0 0;}div.float-parent div.cornerz div.wrap a.lightbox img{max-width:180px;box-shadow:0px 0px 3px #888888;-o-box-shadow:0px 0px 3px #888888;-webkit-box-shadow:0px 0px 3px #888888;-moz-box-shadow:0px 0px 3px #888888;}
div.float-parent div.cornerz div.wrap p{margin:5px 0 0 0;}
div.float-parent div.template{display:inline-block;vertical-align:top;margin:0 35px 15px 0;min-height:165px;width:250px;text-align:center;}div.float-parent div.template img{border:1px #dddddd solid;}
img.template_current{box-shadow:0px 0px 3px #888888;-o-box-shadow:0px 0px 3px #888888;-webkit-box-shadow:0px 0px 3px #888888;-moz-box-shadow:0px 0px 3px #888888;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
div.options_templates{margin-top:40px;}
div.ushki{margin:0 0 10px 0;padding:10px 10px 1px 10px;background:#BAC6CC;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}div.ushki textarea{width:99.3%;height:250px;}
div.ushki p.ushki_title{margin:0;}
table.inactive-plugins{color:gray;}table.inactive-plugins a{color:gray;}
form.fform p.br{padding:15px 0 0 0;}
div.admin_plugin_options_info{padding:0;margin:0;}div.admin_plugin_options_info h3{margin:10px 0 0 0;background:#BDCBD2;padding:3px 5px;}
div.admin_plugin_options_info p{margin:0 0 5px 0;padding:0;font-style:italic;}
form.comment_edit textarea{width:100%;height:200px;}
form.admin_comments span.admin{color:blue;font-weight:bold;}
form.admin_comments span.comuser{color:green;font-weight:bold;}
form.admin_comments span.anonymous{color:maroon;}
table.cats input[type="submit"]{width:100%;}
div.update{padding:10px;background:#C7F3A6;margin:5px 0;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
div.error{padding:10px;background:#FFD2D2;margin:5px 0;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
p.info{color:#6D6D6D;}
p.admin_page_filtr{line-height:2em;font-size:.8em;}p.admin_page_filtr a{background:#E7ECEF;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:3px 5px;white-space:nowrap;}p.admin_page_filtr a:hover,p.admin_page_filtr a.current{background:#6C8A99;text-decoration:none;color:white;}
p.admin_page_filtr a.no_filtr{background:none;}p.admin_page_filtr a.no_filtr:hover{color:#6C8A99;}
span.red{color:red;}
form.admin_users p .ftitle{width:100px;font-weight:bold;font-weight:bold;}
div.pagination{margin:15px 0;}div.pagination strong{background:#6C8A99;color:white;padding:3px 5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
div.pagination a{padding:3px 5px;text-decoration:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
div.pagination a:hover{background:#6C8A99;color:white;}
